{% extends './templates/layout/doc.njk' %}

{# S: 页面元数据 #}
{% block documentTitle %}公演补档{% endblock %}
{% block pageName %}show-archive{% endblock %}
{# E: 页面元数据 #}

{% block pageHeader %}
  <i class="fa-tripadvisor fa"></i> 公演补档
{% endblock %}
{% block pageContent %}
  <section data-folding="置顶">
    <h2 class="page-header" id="archive-header-1">置顶</h2>
      <p>1. <a href="https://www.bilibili.com/video/av28916925" target="_blank">【军姬学院小迷妹】小小军姬主题曲舞蹈MV-Color girls演绎</a></p>
      <p>2. <a href="https://www.bilibili.com/video/av23243047" target="_blank">【二水才不二】Magnet [努力的试图让自己柔软起来的攻气二人组]</a></p>
  </section>

  <section data-folding="公演">
    <h2 class="page-header" id="archive-header-2">公演</h2>
  </section>

    <section data-folding="《命运的X号》">
      <h3 id="archive-header-3">《命运的X号》</h3>
        <p>1. <a href="https://www.bilibili.com/video/av31047023" target="_blank">20180902 【SNH48】【杨冰怡】 口袋48每日电台- 关于生日公演(不是 其实是忘记改了。。) (180902小学生日记)</a></p>
        <p>2. <a href="https://www.bilibili.com/video/av30982888" target="_blank">20180831 【SNH48】【杨冰怡】 口袋48电台直播 - 关于生诞公演 (180831小学生日记)</a></p>
        <p>3. <a href="https://www.bilibili.com/video/av30406610" target="_blank">20180823 【SNH48】【杨冰怡】《Battle Cry》  Team X《命运的X号》</a></p>
        <p>4. <a href="https://www.bilibili.com/video/av30405597" target="_blank">20180823 【SNH48】【杨冰怡】  Team X《命运的X号》公演MC CUT</a></p>
        <p>5. <a href="https://www.bilibili.com/video/av29809466" target="_blank">20180819 【SNH48】【杨冰怡】  Team X《命运的X号》宋昕冉生诞公演MC CUT</a></p>
        <p>6. <a href="https://www.bilibili.com/video/av29809428" target="_blank">20180819 【SNH48】【杨冰怡】《双生花》  Team X《命运的X号》宋昕冉生诞公演</a></p>
        <p>7. <a href="https://www.bilibili.com/video/av29285492" target="_blank">20180812 【SNH48】【杨冰怡】《Battle Cry》  Team X《命运的X号》</a></p>
        <p>8. <a href="https://www.bilibili.com/video/av29258381" target="_blank">20180812 【SNH48】【杨冰怡】  Team X《命运的X号》公演MC CUT</a></p>
        <p>9. <a href="https://www.bilibili.com/video/av29059741" target="_blank">20180809 【SNH48】【杨冰怡】  Team X《命运的X号》公演MC CUT</a></p>
        <p>10. <a href="https://www.bilibili.com/video/av29059916" target="_blank">20180809 【SNH48】【杨冰怡】《最后的曙光》  Team X《命运的X号》</a></p>
        <p>11. <a href="https://www.bilibili.com/video/av28627747" target="_blank">20180805 【SNH48】【杨冰怡】  Team X《命运的X号》公演MC CUT</a></p>
        <p>12. <a href="https://www.bilibili.com/video/av28627992" target="_blank">20180805 【SNH48】【杨冰怡】《深海之声》  Team X《命运的X号》</a></p>
        <p>13. <a href="https://www.bilibili.com/video/av28193341" target="_blank">20180720 【SNH48】【杨冰怡】《Battle Cry》  Team X《命运的X号》</a></p>
        <p>14. <a href="https://www.bilibili.com/video/av28192901" target="_blank">20180720 【SNH48】【杨冰怡】  Team X《命运的X号》公演MC CUT</a></p>
        <p>15. <a href="https://www.bilibili.com/video/av27037808" target="_blank">20180715 【SNH48】【杨冰怡】 第五届总决选群体拉票专场公演CUT</a></p>
        <p>16. <a href="https://www.bilibili.com/video/av27037584" target="_blank">20180713 【SNH48】【杨冰怡】  Team X《命运的X号》公演MC CUT</a></p>
        <p>17. <a href="https://www.bilibili.com/video/av27037425" target="_blank">20180713 【SNH48】【杨冰怡】《Battle Cry》  Team X《命运的X号》</a></p>
        <p>18. <a href="https://www.bilibili.com/video/av26355490" target="_blank">20180706 【SNH48】【杨冰怡】《Battle Cry》  Team X《命运的X号》</a></p>
        <p>19. <a href="https://www.bilibili.com/video/av26355131" target="_blank">20180706 【SNH48】【杨冰怡】  Team X《命运的X号》公演MC CUT</a></p>
        <p>20. <a href="https://www.bilibili.com/video/av25972724" target="_blank">20180701 【SNH48】【杨冰怡】  Team X《命运的X号》公演MC CUT</a></p>
        <p>21. <a href="https://www.bilibili.com/video/av25973324" target="_blank">20180701 【SNH48】【杨冰怡】《Battle Cry》  Team X《命运的X号》</a></p>
        <p>22. <a href="https://www.bilibili.com/video/av25965630" target="_blank">20180630 【SNH48】【杨冰怡】《最后的曙光》  Team X《命运的X号》</a></p>
        <p>23. <a href="https://www.bilibili.com/video/av25964343" target="_blank">20180630 【SNH48】【杨冰怡】《Battle Cry》  Team X《命运的X号》</a></p>
        <p>24. <a href="https://www.bilibili.com/video/av25964107" target="_blank">20180630 【SNH48】【杨冰怡】  Team X《命运的X号》公演MC CUT</a></p>
        <p>25. <a href="https://www.bilibili.com/video/av25619919" target="_blank">20180624 【SNH48】【杨冰怡】《Battle Cry》  Team X《命运的X号》第五届总决选预热演唱会-厦门站</a></p>
        <p>26. <a href="https://www.bilibili.com/video/av25615374" target="_blank">20180624 【SNH48】【杨冰怡】  Team X《命运的X号》第五届总决选预热演唱会-厦门站 公演MC CUT</a></p>
        <p>27. <a href="https://www.bilibili.com/video/av25370809" target="_blank">20180621 【SNH48】【杨冰怡】《深海之声》  Team X《命运的X号》</a></p>
        <p>28. <a href="https://www.bilibili.com/video/av25369507" target="_blank">20180621 【SNH48】【杨冰怡】《Battle Cry》  Team X《命运的X号》</a></p>
        <p>29. <a href="https://www.bilibili.com/video/av25369370" target="_blank">20180621 【SNH48】【杨冰怡】  Team X《命运的X号》公演MC CUT</a></p>
        <p>30. <a href="https://www.bilibili.com/video/av25292156" target="_blank">20180616 【SNH48】【杨冰怡】《无声的探戈》 Team X《命运的X号》</a></p>
        <p>31. <a href="https://www.bilibili.com/video/av25291849" target="_blank">20180616 【SNH48】【杨冰怡】《马尾与发圈》  Team X《命运的X号》</a></p>
        <p>32. <a href="https://www.bilibili.com/video/av25292103" target="_blank">20180616 【SNH48】【杨冰怡】《美杜莎的温柔》  Team X《命运的X号》</a></p>
        <p>33. <a href="https://www.bilibili.com/video/av25291438" target="_blank">20180616 【SNH48】【杨冰怡】《Battle Cry》  Team X《命运的X号》</a></p>
        <p>34. <a href="https://www.bilibili.com/video/av25291096" target="_blank">20180616 【SNH48】【杨冰怡】  Team X《命运的X号》公演MC CUT</a></p>
        <p>35. <a href="https://www.bilibili.com/video/av25279112" target="_blank">20180615 【SNH48】【杨冰怡】《最后的曙光》  Team X《命运的X号》</a></p>
        <p>36. <a href="https://www.bilibili.com/video/av25278948" target="_blank">20180615 【SNH48】【杨冰怡】《Battle Cry》  Team X《命运的X号》</a></p>
        <p>37. <a href="https://www.bilibili.com/video/av25277882" target="_blank">20180615 【SNH48】【杨冰怡】  Team X《命运的X号》公演MC CUT</a></p>
        <p>38. <a href="https://www.bilibili.com/video/av24930025" target="_blank">20180610 【SNH48】【杨冰怡】《双生花》  Team X《命运的X号》</a></p>
        <p>39. <a href="https://www.bilibili.com/video/av24929835" target="_blank">20180610 【SNH48】【杨冰怡】  Team X《命运的X号》公演MC CUT</a></p>
        <p>40. <a href="https://www.bilibili.com/video/av24446694" target="_blank">20180603 【SNH48】【杨冰怡】《Battle Cry》  Team X《命运的X号》</a></p>
        <p>41. <a href="https://www.bilibili.com/video/av24445866" target="_blank">20180603 【SNH48】【杨冰怡】  Team X《命运的X号》公演MC CUT</a></p>
        <p>42. <a href="https://www.bilibili.com/video/av24386509" target="_blank">20180602 【SNH48】【杨冰怡】《黑天使》  Team X《命运的X号》</a></p>
        <p>43. <a href="https://www.bilibili.com/video/av24385891" target="_blank">20180602 【SNH48】【杨冰怡】  Team X《命运的X号》公演MC CUT</a></p>
        <p>44. <a href="https://www.bilibili.com/video/av24386085" target="_blank">20180602 【SNH48】【杨冰怡】《Battle Cry》  Team X《命运的X号》</a></p>
        <p>45. <a href="https://www.bilibili.com/video/av24110582" target="_blank">20180527 【SNH48】【杨冰怡】《巧克力之吻》  Team X《命运的X号》</a></p>
        <p>46. <a href="https://www.bilibili.com/video/av24100228" target="_blank">20180527 【SNH48】【杨冰怡】  Team X《命运的X号》公演MC CUT</a></p>
        <p>47. <a href="https://www.bilibili.com/video/av24100400" target="_blank">20180527 【SNH48】【杨冰怡】《深海之声》  Team X《命运的X号》</a></p>
        <p>48. <a href="https://www.bilibili.com/video/av24100333" target="_blank">20180527 【SNH48】【杨冰怡】《Battle Cry》  Team X《命运的X号》</a></p>
        <p>49. <a href="https://www.bilibili.com/video/av23974871" target="_blank">20180523 【SNH48】【杨冰怡】《最后的曙光》  Team X《命运的X号》</a></p>
        <p>50. <a href="https://www.bilibili.com/video/av23974051" target="_blank">20180523 【SNH48】【杨冰怡】《Battle Cry》  Team X《命运的X号》</a></p>
        <p>51. <a href="https://www.bilibili.com/video/av23973700" target="_blank">20180523 【SNH48】【杨冰怡】  Team X《命运的X号》公演MC CUT</a></p>
        <p>52. <a href="https://www.bilibili.com/video/av23741360" target="_blank">20180516 【SNH48】【杨冰怡】  Team X《命运的X号》公演MC CUT</a></p>
        <p>53. <a href="https://www.bilibili.com/video/av23627779" target="_blank">20180516 【SNH48】【杨冰怡】《最后的曙光》Team X《命运的X号》</a></p>
        <p>54. <a href="https://www.bilibili.com/video/av23627521" target="_blank">20180516 【SNH48】【杨冰怡】《Battle Cry》  Team X《命运的X号》</a></p>
        <p>55. <a href="https://www.bilibili.com/video/av23627442" target="_blank">20180516 【SNH48】【杨冰怡】  Team X《命运的X号》公演MC CUT</a></p>
        <p>56. <a href="https://www.bilibili.com/video/av23505835" target="_blank">20180513 【SNH48】【杨冰怡】《深海之声》  Team X《命运的X号》</a></p>
        <p>57. <a href="https://www.bilibili.com/video/av23505727" target="_blank">20180513 【SNH48】【杨冰怡】  Team X《命运的X号》公演MC CUT</a></p>
        <p>58. <a href="https://www.bilibili.com/video/av23505110" target="_blank">20180509 【SNH48】【杨冰怡】  Team X《命运的X号》公演MC CUT</a></p>
        <p>59. <a href="https://www.bilibili.com/video/av23505345" target="_blank">20180509 【SNH48】【杨冰怡】《最后的曙光》  Team X《命运的X号》</a></p>
        <p>60. <a href="https://www.bilibili.com/video/av23505247" target="_blank">20180509 【SNH48】【杨冰怡】《Battle Cry》  Team X《命运的X号》</a></p>
        <p>61. <a href="https://www.bilibili.com/video/av23504357" target="_blank">20180505 【SNH48】【杨冰怡】《Battle Cry》  Team X《命运的X号》</a></p>
        <p>62. <a href="https://www.bilibili.com/video/av23504240" target="_blank">20180505 【SNH48】【杨冰怡】  Team X《命运的X号》公演MC CUT</a></p>
        <p>63. <a href="https://www.bilibili.com/video/av22732926" target="_blank">20180429 【SNH48】【杨冰怡】  Team X&FT 《Dream of Fate》联合公演 吃鸡特殊环节</a></p>
        <p>64. <a href="https://www.bilibili.com/video/av22470863" target="_blank">20180421 【SNH48】【杨冰怡】《9 to 9》  Team X 三周年特别公演</a></p>
        <p>65. <a href="https://www.bilibili.com/video/av22402834" target="_blank">20180421 【SNH48】【杨冰怡】  Team X 三周年公演MC CUT</a></p>
        <p>66. <a href="https://www.bilibili.com/video/av22254221" target="_blank">20180414 Team HII《New H Stars》找呀找呀找朋友咪咕特殊公演 杨冰怡cut</a></p>
        <p>67. <a href="https://www.bilibili.com/video/av22254155" target="_blank">20180413 Team X《命运的X号》公演 杨冰怡cut</a></p>
        <p>68. <a href="https://www.bilibili.com/video/av21707847" target="_blank">20180405 【SNH48】【杨冰怡】《Battle Cry》  Team X《命运的X号》</a></p>
        <p>69. <a href="https://www.bilibili.com/video/av21707774" target="_blank">20180405 【SNH48】【杨冰怡】  Team X《命运的X号》公演MC CUT</a></p>
        <p>70. <a href="https://www.bilibili.com/video/av21345409" target="_blank">20180328 【SNH48】【杨冰怡】  Team X《命运的X号》公演MC CUT</a></p>
        <p>71. <a href="https://www.bilibili.com/video/av21343782" target="_blank">20180328 【SNH48】【杨冰怡】《占卜师》  Team X《命运的X号》</a></p>
        <p>72. <a href="https://www.bilibili.com/video/av21343807" target="_blank">20180328 【SNH48】【杨冰怡】《最后的曙光》  Team X《命运的X号》</a></p>
        <p>73. <a href="https://www.bilibili.com/video/av21191386" target="_blank">20180324 【SNH48】【杨冰怡】《Battle Cry》  Team X《命运的X号》</a></p>
        <p>74. <a href="https://www.bilibili.com/video/av21191286" target="_blank">20180324 【SNH48】【杨冰怡】  Team X《命运的X号》公演MC CUT</a></p>
        <p>75. <a href="https://www.bilibili.com/video/av21191458" target="_blank">20180324 【SNH48】【杨冰怡】《双生花》  Team X《命运的X号》</a></p>
        <p>76. <a href="https://www.bilibili.com/video/av20876072" target="_blank">20180317 【SNH48】【杨冰怡】  Team X《命运的X号》公演MC CUT</a></p>
        <p>77. <a href="https://www.bilibili.com/video/av20877193" target="_blank">20180317 【SNH48】【杨冰怡】《Battle Cry》  Team X《命运的X号》</a></p>
        <p>78. <a href="https://www.bilibili.com/video/av20622090" target="_blank">20180310 【SNH48】【杨冰怡】  Team X《命运的X号》公演MC CUT</a></p>
        <p>79. <a href="https://www.bilibili.com/video/av20622354" target="_blank">20180310 【SNH48】【杨冰怡】  Team X《命运的X号》公演UNIT 《Battle Cry》</a></p>
        <p>80. <a href="https://www.bilibili.com/video/av20575335/" target="_blank">2018309【SNH48】【杨冰怡】 Team X（皮）《皮一下》特别公演MC CUT</a></p>
        <p>81. <a href="https://www.bilibili.com/video/av20574654/" target="_blank">2018309【SNH48】【杨冰怡】《皮草怡情》皮一下特别公演</a></p>
        <p>82. <a href="https://www.bilibili.com/video/av20379045" target="_blank">20180304 【SNH48】 TeamX《命运的X号》公演 杨冰怡cut</a></p>
        <p>83. <a href="https://www.bilibili.com/video/av20192979" target="_blank">20180228 【SNH48】 TeamX《命运的X号》公演 杨冰怡cut</a></p>
        <p>84. <a href="https://www.bilibili.com/video/av18960476/" target="_blank">20180128 Team X 《命运的X号》公演 杨冰怡cut</a></p>
        <p>85. <a href="https://www.bilibili.com/video/av18654367/" target="_blank">20180117 TeamX《命运的X号》第七场  杨冰怡cut</a></p>
        <p>86. <a href="https://www.bilibili.com/video/av18284340/" target="_blank">20180114 TeamX《命运的X号》公演 杨冰怡cut</a></p>
        <p>87. <a href="https://www.bilibili.com/video/av18034461/" target="_blank">20180106 TeamX 《命运的X号》公演 杨冰怡 cut</a></p>
        <p>88. <a href="https://www.bilibili.com/video/av17575010/" target="_blank">20171224 TeamX《命运的X号》公演 杨冰怡cut</a></p>
        <p>89. <a href="https://www.bilibili.com/video/av17354860/" target="_blank">20171217 TeamX 《命运的X号》公演 杨冰怡 cut</a></p>
        <p>90. <a href="https://www.bilibili.com/video/av17326638/" target="_blank">20171216 TeamX 《命运的X号》公演首演第二场 杨冰怡 cut</a></p>
        <p>91. <a href="https://www.bilibili.com/video/av17292265/" target="_blank">20171215 TeamX 《命运的X号》公演首演第一场 杨冰怡 cut</a></p>
    </section>

    <section data-folding="《以爱之名》">
      <h3 id="archive-header-4">《以爱之名》</h3>
        <p>1. <a href="https://www.bilibili.com/video/av18037567/" target="_blank">20180106 TeamNII《以爱之名》公演 杨冰怡 cut</a></p>
        <p>2. <a href="https://www.bilibili.com/video/av17485305/" target="_blank">20171221 TeamNII《以爱之名》公演 杨冰怡 cut</a></p>
        <p>3. <a href="https://www.bilibili.com/video/av17145619/" target="_blank">20171210 Team N2《以爱之名》公演 杨冰怡CUT</a></p>
        <p>4. <a href="https://www.bilibili.com/video/av16881177/" target="_blank">20171202 Team N2《以爱之名》公演 杨冰怡CUT</a></p>
        <p>5. <a href="https://www.bilibili.com/video/av16818724/" target="_blank">20171126 Team NII《以爱之名》2.0进化论公演 杨冰怡cut</a></p>
        <p>6. <a href="https://www.bilibili.com/video/av16818229/" target="_blank">20171125 Team NII《以爱之名》2.0进化论万丽娜生日主题 杨冰怡cut</a></p>
        <p>7. <a href="https://www.bilibili.com/video/av16818306/" target="_blank">20171111 Team NII《以爱之名》2.0进化论公演 cut</a></p>
        <p>8. <a href="https://www.bilibili.com/video/av16817370/" target="_blank">20171102 Team NII《以爱之名》公演cut</a></p>
        <p>9. <a href="https://www.bilibili.com/video/av15747988/" target="_blank">20171026 TeamNII 《以爱之名》公演 杨冰怡 cut</a></p>
        <p>10. <a href="https://www.bilibili.com/video/av15599103/" target="_blank">20171021 TeamNII 《以爱之名》公演 杨冰怡 cut</a></p>
        <p>11. <a href="https://www.bilibili.com/video/av15566041/" target="_blank">20171020 TeamNⅡ 《以爱之名》公演 杨冰怡 cut</a></p>
        <p>12. <a href="https://www.bilibili.com/video/av15221506/" target="_blank">20171007 TeamNⅡ 《以爱之名》公演 杨冰怡 春夏秋冬（李艺彤、杨冰怡、黄彤扬、江真仪)</a></p>
        <p>13. <a href="https://www.bilibili.com/video/av15183802/" target="_blank">20171007 TeamNⅡ 《以爱之名》公演 杨冰怡 cut</a></p>
    </section>

    <section data-folding="《梦想的旗帜》">
      <h3 id="archive-header-5">《梦想的旗帜》</h3>
        <p>1. <a href="https://www.bilibili.com/video/av17148019/" target="_blank">20171209 Team X《梦想的旗帜》千秋乐公演 杨冰怡CUT</a></p>
        <p>2. <a href="https://www.bilibili.com/video/av16923436/" target="_blank">20171203 Team X《梦想的旗帜》公演 杨冰怡CUT</a></p>
        <p>3. <a href="https://www.bilibili.com/video/av16851493/" target="_blank">20171201 Team X《梦想的旗帜》公演 杨冰怡CUT</a></p>
        <p>4. <a href="https://www.bilibili.com/video/av16815656/" target="_blank">20171126 TeamX《梦想的旗帜》第六十七场 杨冰怡cut</a></p>
        <p>5. <a href="https://www.bilibili.com/video/av16814691/" target="_blank">20171122 TeamX《梦想的旗帜》第六十六场 新设备公演 杨冰怡cut</a></p>
        <p>6. <a href="https://www.bilibili.com/video/av16393767/" target="_blank">20171116 TeamX《梦想的旗帜》第六十五场</a></p>
        <p>7. <a href="https://www.bilibili.com/video/av16813788/" target="_blank">20171112 TeamX《梦想的旗帜》第六十四场 邵雪聪生日主题公演 杨冰怡cut</a></p>
        <p>8. <a href="https://www.bilibili.com/video/av16812615/" target="_blank">20171109 Team X《梦想的旗帜》咪咕音乐主题公演 cut</a></p>
        <p>9. <a href="https://www.bilibili.com/video/av16811339/" target="_blank">20171105 TeamX《梦想的旗帜》第六十二场 cut</a></p>
        <p>10. <a href="https://www.bilibili.com/video/av16811127/" target="_blank">20171104 TeamX《梦想的旗帜》第六十一场 冯晓菲生日主题公演 cut</a></p>
        <p>11. <a href="https://www.bilibili.com/video/av16809606/" target="_blank">20171028 TeamX《梦想的旗帜》公演 梦想的旗帜一周年纪念公演 cut</a></p>
        <p>12. <a href="https://www.bilibili.com/video/av15513486/" target="_blank">20171018 TeamX 《梦想的旗帜》公演 杨冰怡 cut</a></p>
        <p>13. <a href="https://www.bilibili.com/video/av15393202/" target="_blank">20171014 TeamX 《梦想的旗帜》公演 杨冰怡 cut</a></p>
        <p>14. <a href="https://www.bilibili.com/video/av15330265/" target="_blank">20171012 TeamX 《梦想的旗帜》公演 杨冰怡 cut</a></p>
        <p>15. <a href="https://www.bilibili.com/video/av14991360/" target="_blank">20171002 TeamX 《梦想的旗帜》杨冰怡生诞公演 杨冰怡 cut</a></p>
        <p>16. <a href="https://www.bilibili.com/video/av14765934/" target="_blank">20170924 TeamX 《梦想的旗帜》公演 杨冰怡 cut</a></p>
        <p>17. <a href="https://www.bilibili.com/video/av14694907/" target="_blank">20170922 TeamX 《梦想的旗帜》公演 杨冰怡 cut</a></p>
        <p>18. <a href="https://www.bilibili.com/video/av14521761/" target="_blank">20170916 TeamX 《梦想的旗帜》公演 杨冰怡 cut</a></p>
        <p>19. <a href="https://www.bilibili.com/video/av14460803/" target="_blank">20170914 TeamX 《梦想的旗帜》公演 杨冰怡 cut</a></p>
        <p>20. <a href="https://www.bilibili.com/video/av14000700/" target="_blank">20170830 TeamX 《梦想的旗帜》公演 杨冰怡 cut</a></p>
        <p>21. <a href="https://www.bilibili.com/video/av13272767/" target="_blank">20170812 TeamX 《梦想的旗帜》公演 杨冰怡 cut</a></p>
        <p>22. <a href="https://www.bilibili.com/video/av13038574/" target="_blank">20170806 TeamX 《梦想的旗帜》公演 杨冰怡 cut</a></p>
        <p>23. <a href="https://www.bilibili.com/video/av13002383/" target="_blank">20170805 TeamX 《梦想的旗帜》公演 杨冰怡 cut</a></p>
        <p>24. <a href="https://www.bilibili.com/video/av12253859/" target="_blank">20170716 TeamX 《梦想的旗帜》公演 杨冰怡 cut</a></p>
        <p>25. <a href="https://www.bilibili.com/video/av12168370/" target="_blank">20170713 TeamX 《梦想的旗帜》公演 杨冰怡 cut</a></p>
        <p>26. <a href="https://www.bilibili.com/video/av12039521/" target="_blank">20170709 TeamX 《梦想的旗帜》拉票暨中报公演 杨冰怡 cut</a></p>
        <p>27. <a href="https://www.bilibili.com/video/av12012834/" target="_blank">20170708 TeamX 《梦想的旗帜》公演 杨冰怡 cut</a></p>
        <p>28. <a href="https://www.bilibili.com/video/av11948769/" target="_blank">20170706 TeamX 《梦想的旗帜》公演 杨冰怡 cut</a></p>
        <p>29. <a href="https://www.bilibili.com/video/av11815784/" target="_blank">20170702 TeamX 《梦想的旗帜》张丹三生日公演 杨冰怡 cut</a></p>
        <p>30. <a href="https://www.bilibili.com/video/av11623583/" target="_blank">20170625 TeamX 《梦想的旗帜》公演 杨冰怡 cut</a></p>
        <p>31. <a href="https://www.bilibili.com/video/av11592934/" target="_blank">20170624 TeamX 《梦想的旗帜》公演 杨冰怡 cut</a></p>
        <p>32. <a href="https://www.bilibili.com/video/av11433442/" target="_blank">20170618 TeamX 《梦想的旗帜》公演 杨冰怡 cut</a></p>
        <p>33. <a href="https://www.bilibili.com/video/av11223319/" target="_blank">20170610 TeamX 《梦想的旗帜》公演 杨冰怡 cut</a></p>
        <p>34. <a href="https://www.bilibili.com/video/av10913199/" target="_blank">20170529 TeamX 《梦想的旗帜》公演 杨冰怡 cut</a></p>
        <p>35. <a href="https://www.bilibili.com/video/av10653336/" target="_blank">20170518 TeamX 《梦想的旗帜》公演 杨冰怡 cut</a></p>
        <p>36. <a href="https://www.bilibili.com/video/av10555837/" target="_blank">20170514 TeamX 《梦想的旗帜》公演 杨冰怡 cut</a></p>
        <p>37. <a href="https://www.bilibili.com/video/av10482921/" target="_blank">20170511 TeamX 《梦想的旗帜》公演 杨冰怡 cut</a></p>
        <p>38. <a href="https://www.bilibili.com/video/av10354671/" target="_blank">20170506 TeamX 《梦想的旗帜》北京巡演 杨冰怡 cut</a></p>
        <p>39. <a href="https://www.bilibili.com/video/av10335206/" target="_blank">20170505 TeamX 《梦想的旗帜》北京巡演 杨冰怡 cut</a></p>
        <p>40. <a href="https://www.bilibili.com/video/av10136154/" target="_blank">20170427 TeamX 《梦想的旗帜》公演 杨冰怡 cut</a></p>
        <p>41. <a href="https://www.bilibili.com/video/av10049463/" target="_blank">20170423 TeamX 《梦想的旗帜》公演 杨冰怡 cut</a></p>
        <p>42. <a href="https://www.bilibili.com/video/av9816211/" target="_blank">20170413 TeamX 《梦想的旗帜》公演 杨冰怡 cut</a></p>
        <p>43. <a href="https://www.bilibili.com/video/av9491731/" target="_blank">20170330 TeamX 《梦想的旗帜》公演 杨冰怡 cut</a></p>
        <p>44. <a href="https://www.bilibili.com/video/av9472893/" target="_blank">20170329 TeamX 《梦想的旗帜》公演 杨冰怡 cut</a></p>
        <p>45. <a href="https://www.bilibili.com/video/av9345368/" target="_blank">20170323 TeamX 《梦想的旗帜》公演 杨冰怡 cut</a></p>
        <p>46. <a href="https://www.bilibili.com/video/av9275523/" target="_blank">20170319 TeamX 《梦想的旗帜》公演 mc4后部分</a></p>
        <p>47. <a href="https://www.bilibili.com/video/av9275426/" target="_blank">20170319 TeamX 《梦想的旗帜》公演 mc4上部分</a></p>
        <p>48. <a href="https://www.bilibili.com/video/av9275230/" target="_blank">20170319 TeamX 《梦想的旗帜》公演 mc2</a></p>
        <p>49. <a href="https://www.bilibili.com/video/av9270457/" target="_blank">20170319 TeamX 《梦想的旗帜》公演 Unit曲 Monster</a></p>
        <p>50. <a href="https://www.bilibili.com/video/av9270234/" target="_blank">20170319 TeamX 《梦想的旗帜》公演 杨冰怡 cut</a></p>
        <p>51. <a href="https://www.bilibili.com/video/av9220525/" target="_blank">20170317 TeamX 《梦想的旗帜》公演 杨冰怡 cut</a></p>
        <p>52. <a href="https://www.bilibili.com/video/av8958360/" target="_blank">20170304 TeamX 《梦想的旗帜》公演 杨冰怡 cut</a></p>
        <p>53. <a href="https://www.bilibili.com/video/av8789351/" target="_blank">20170223 TeamX 《梦想的旗帜》公演 杨冰怡 cut</a></p>
        <p>54. <a href="https://www.bilibili.com/video/av8671160/" target="_blank">20170217 TeamX 《梦想的旗帜》公演 杨冰怡 cut</a></p>
        <p>55. <a href="https://www.bilibili.com/video/av8531875/" target="_blank">20170210 TeamX 《梦想的旗帜》公演 杨冰怡 cut</a></p>
        <p>56. <a href="https://www.bilibili.com/video/av8511469/" target="_blank">20170209 TeamX 《梦想的旗帜》公演 杨冰怡 cut</a></p>
        <p>57. <a href="https://www.bilibili.com/video/av7741817/" target="_blank">20161228 TeamX 《梦想的旗帜》公演 杨冰怡 cut</a></p>
        <p>58. <a href="https://www.bilibili.com/video/av7648179/" target="_blank">20161222 TeamX 《梦想的旗帜》公演 杨冰怡 cut</a></p>
        <p>59. <a href="https://www.bilibili.com/video/av7566046/" target="_blank">20161217 TeamX 《梦想的旗帜》圣诞特别公演 杨冰怡cut</a></p>
        <p>60. <a href="https://www.bilibili.com/video/av7495294/" target="_blank">20161211 TeamX 《梦想的旗帜》公演 杨冰怡 cut</a></p>
        <p>61. <a href="https://www.bilibili.com/video/av7463891/" target="_blank">20161210 TeamX 《梦想的旗帜》公演 杨冰怡 cut</a></p>
        <p>62. <a href="https://www.bilibili.com/video/av7339124/" target="_blank">20161201 TeamX 《梦想的旗帜》公演 杨冰怡 cut</a></p>
        <p>63. <a href="https://www.bilibili.com/video/av7291277/" target="_blank">20161127 TeamX 《梦想的旗帜》孙歆文生日公演 杨冰怡 cut</a></p>
        <p>64. <a href="https://www.bilibili.com/video/av7125386/" target="_blank">20161116 TeamX 《梦想的旗帜》公演 杨冰怡 cut</a></p>
        <p>65. <a href="https://www.bilibili.com/video/av7064997/" target="_blank">20161110 TeamX 《梦想的旗帜》公演 杨冰怡 cut</a></p>
        <p>66. <a href="https://www.bilibili.com/video/av6901645/" target="_blank">20161031 TeamX 《梦想的旗帜》公演 杨冰怡 cut</a></p>
        <p>67. <a href="https://www.bilibili.com/video/av6887688/" target="_blank">20161029 TeamX 《梦想的旗帜》冯晓菲生日公演 杨冰怡 cut</a></p>
    </section>

    <section data-folding="《专属派对》">
      <h3 id="archive-header-6">《专属派对》</h3>
        <p>1. <a href="https://www.bilibili.com/video/av7138543/" target="_blank">20161117 TeamNⅡ 《专属派对》公演 杨冰怡 cut</a></p>
        <p>2. <a href="https://www.bilibili.com/video/av6376033/" target="_blank">20160922 TeamNⅡ 《专属派对》公演 杨冰怡 cut</a></p>
        <p>3. <a href="https://www.bilibili.com/video/av6307306/" target="_blank">20160916 TeamNⅡ 《专属派对》公演 杨冰怡 cut</a></p>
        <p>4. <a href="https://www.bilibili.com/video/av6229411/" target="_blank">20160910 TeamNⅡ 《专属派对》张雨鑫生日公演 杨冰怡 cut</a></p>
        <p>5. <a href="https://www.bilibili.com/video/av6205701/" target="_blank">20160908 TeamNⅡ 《专属派对》公演 杨冰怡 MC cut</a></p>
    </section>

    <section data-folding="《十八个闪耀瞬间》">
      <h3 id="archive-header-7">《十八个闪耀瞬间》</h3>
        <p>1. <a href="https://www.bilibili.com/video/av6760532/" target="_blank">20161020 TeamX 《十八个闪耀瞬间》千秋乐暨张韵雯毕业公演 杨冰怡 cut</a></p>
        <p>2. <a href="https://www.bilibili.com/video/av6711572/" target="_blank">20161014 TeamX 《十八个闪耀瞬间》公演 杨冰怡 cut</a></p>
        <p>3. <a href="https://www.bilibili.com/video/av6530470/" target="_blank">20161004 TeamX 《十八个闪耀瞬间》公演 杨冰怡 cut</a></p>
        <p>4. <a href="https://www.bilibili.com/video/av6498608/" target="_blank">20161002 TeamX 《十八个闪耀瞬间》公演 杨冰怡 cut</a></p>
        <p>5. <a href="https://www.bilibili.com/video/av6365305/" target="_blank">20160921TeamX 《十八个闪耀瞬间》公演 杨冰怡 cut</a></p>
        <p>6. <a href="https://www.bilibili.com/video/av6322631/" target="_blank">20160917 TeamX 《十八个闪耀瞬间》杨韫玉生日公演 杨冰怡 cut</a></p>
        <p>7. <a href="https://www.bilibili.com/video/av6194975/" target="_blank">20160907 TeamX 《十八个闪耀瞬间》公演 杨冰怡 cut</a></p>
        <p>8. <a href="https://www.bilibili.com/video/av6057680/" target="_blank">20160828 TeamX 《十八个闪耀瞬间》邵雪聪生日公演 杨冰怡 cut</a></p>
        <p>9. <a href="https://www.bilibili.com/video/av6042224/" target="_blank">20160827 TeamX 《十八个闪耀瞬间》陈琳生日公演 杨冰怡 cut</a></p>
        <p>10. <a href="https://www.bilibili.com/video/av5873911/" target="_blank">20160817 TeamX 《十八个闪耀瞬间》公演 杨冰怡 cut</a></p>
        <p>11. <a href="https://www.bilibili.com/video/av5754091/" target="_blank">20160810 TeamX 《十八个闪耀瞬间》公演 杨冰怡 cut</a></p>
        <p>12. <a href="https://www.bilibili.com/video/av5695631/" target="_blank">20160807 TeamX 《十八个闪耀瞬间》公演 杨冰怡 cut</a></p>
        <p>13. <a href="https://www.bilibili.com/video/av5463385/" target="_blank">20160723 TeamX 《十八个闪耀瞬间》公演 杨冰怡 拉票环节</a></p>
        <p>14. <a href="https://www.bilibili.com/video/av5463265/" target="_blank">20160723 TeamX 《十八个闪耀瞬间》公演 杨冰怡生日公演 读信环节</a></p>
        <p>15. <a href="https://www.bilibili.com/video/av5462246/" target="_blank">20160723 TeamX 《十八个闪耀瞬间》公演 杨冰怡 MC cut</a></p>
        <p>16. <a href="https://www.bilibili.com/video/av5462110/" target="_blank">20160723 TeamX 《十八个闪耀瞬间》公演 杨冰怡生日环节 after 17&剧场女神</a></p>
        <p>17. <a href="https://www.bilibili.com/video/av5460869/" target="_blank">20160723 TeamX 《十八个闪耀瞬间》公演 杨冰怡 李钊 汪束 《初恋小盗》</a></p>
        <p>18. <a href="https://www.bilibili.com/video/av5362929/" target="_blank">20160716 TeamNⅡ 《十八个闪耀瞬间》公演 杨冰怡 MC cut</a></p>
        <p>19. <a href="https://www.bilibili.com/video/av5361419/" target="_blank">20160716 TeamNⅡ 《十八个闪耀瞬间》公演 杨冰怡 何晓玉 孙歆文《朱丽叶》</a></p>
        <p>20. <a href="https://www.bilibili.com/video/av5359311/" target="_blank">20160716 TeamX 《十八个闪耀瞬间》公演 杨冰怡 MC cut</a></p>
        <p>21. <a href="https://www.bilibili.com/video/av5356784/" target="_blank">20160716 TeamX 《十八个闪耀瞬间》公演 杨冰怡 王晓佳 《任性的流星》</a></p>
        <p>22. <a href="https://www.bilibili.com/video/av5281270/" target="_blank">20160710 TeamX 《十八个闪耀瞬间》公演 杨冰怡 MC cut</a></p>
        <p>23. <a href="https://www.bilibili.com/video/av5280532/" target="_blank">20160710 TeamX 《十八个闪耀瞬间》公演 杨冰怡 王晓佳 《任性的流星》</a></p>
        <p>24. <a href="https://www.bilibili.com/video/av5266991/" target="_blank">20160709 TeamNⅡ 《十八个闪耀瞬间》公演 杨冰怡 罗兰 易嘉爱《糖》</a></p>
        <p>25. <a href="https://www.bilibili.com/video/av5254413/" target="_blank">20160708 TeamX 《十八个闪耀瞬间》公演 杨冰怡 MC cut</a></p>
        <p>26. <a href="https://www.bilibili.com/video/av5253607/" target="_blank">20160708 TeamX 《十八个闪耀瞬间》公演 杨冰怡 王晓佳《任性的流星》</a></p>
        <p>27. <a href="https://www.bilibili.com/video/av5195366/" target="_blank">20160704 TeamX 《十八个闪耀瞬间》李钊拉票公演 《对不起我的宝贝》</a></p>
        <p>28. <a href="https://www.bilibili.com/video/av5195358/" target="_blank">20160704 TeamX 《十八个闪耀瞬间》公演 杨冰怡 王晓佳《任性的流星》</a></p>
        <p>29. <a href="https://www.bilibili.com/video/av5177319/" target="_blank">20160702 TeamX 《十八个闪耀瞬间》宋昕冉拉票公演 杨冰怡 MC cut</a></p>
        <p>30. <a href="https://www.bilibili.com/video/av5175261/" target="_blank">20160702 TeamX 《十八个闪耀瞬间》公演 杨冰怡 汪束《任性的流星》</a></p>
        <p>31. <a href="https://www.bilibili.com/video/av5195403/" target="_blank">20160630 TeamX 《十八个闪耀瞬间》李钊拉票公演 杨冰怡 MC cut</a></p>
        <p>32. <a href="https://www.bilibili.com/video/av5101964/" target="_blank">20160626 TeamX 《十八个闪耀瞬间》公演 杨冰怡 MC cut</a></p>
        <p>33. <a href="https://www.bilibili.com/video/av5100717/" target="_blank">20160626 TeamX 《十八个闪耀瞬间》公演 杨冰怡 王晓佳《任性的流星》</a></p>
        <p>34. <a href="https://www.bilibili.com/video/av5069812/" target="_blank">20160626 TeamX 《十八个闪耀瞬间》公演 杨冰怡 MC cut</a></p>
        <p>35. <a href="https://www.bilibili.com/video/av5069165/" target="_blank">20160623 TeamX 《十八个闪耀瞬间》冯晓菲拉票公演 杨冰怡 王晓佳 《任性的流星》</a></p>
        <p>36. <a href="https://www.bilibili.com/video/av5029746/" target="_blank">20160619 TeamX 《十八个闪耀瞬间》公演 杨冰怡 MC cut</a></p>
        <p>37. <a href="https://www.bilibili.com/video/av5027965/" target="_blank">20160619 TeamX 《十八个闪耀瞬间》公演 杨冰怡 张丹三 《任性的流星》</a></p>
        <p>38. <a href="https://www.bilibili.com/video/av5017730/" target="_blank">20160618 TeamX 《十八个闪耀瞬间》杨韫玉拉票公演 杨冰怡 MC cut</a></p>
        <p>39. <a href="https://www.bilibili.com/video/av5017416/" target="_blank">20160618 TeamX 《十八个闪耀瞬间》公演 杨冰怡 宋昕冉《任性的流星》</a></p>
        <p>40. <a href="https://www.bilibili.com/video/av5004632/" target="_blank">20160617 TeamX 《十八个闪耀瞬间》首演暨速报发布公演 杨冰怡 MC cut</a></p>
        <p>41. <a href="https://www.bilibili.com/video/av5003551/" target="_blank">20160617 TeamX 《十八个闪耀瞬间》公演 杨冰怡 王晓佳 《任性的流星》</a></p>
        <p>42. <a href="https://www.bilibili.com/video/av4993635/" target="_blank">20160616 TeamNⅡ 《十八个闪耀瞬间》公演 杨冰怡 MC cut</a></p>
        <p>43. <a href="https://www.bilibili.com/video/av4993133/" target="_blank">20160616TeamNⅡ 《十八个闪耀瞬间》陈问言拉票公演杨冰怡 周怡《狼与自尊》</a></p>
    </section>

    <section data-folding="TeamNⅡ 《十八个闪耀瞬间》">
      <h3 id="archive-header-8">TeamNⅡ 《十八个闪耀瞬间》</h3>
        <p>1. <a href="https://www.bilibili.com/video/av4944006/" target="_blank">20160611 TeamNⅡ 《十八个闪耀瞬间》公演 杨冰怡 MC cut</a></p>
        <p>2. <a href="https://www.bilibili.com/video/av4865919/" target="_blank">20160604 TeamNⅡ 《十八个闪耀瞬间》公演 杨冰怡 孙歆文 《狼与自尊》</a></p>
        <p>3. <a href="https://www.bilibili.com/video/av4865363/" target="_blank">20160604 TeamNⅡ 《十八个闪耀瞬间》公演 杨冰怡 MC cut</a></p>
        <p>4. <a href="https://www.bilibili.com/video/av4804868/" target="_blank">20160529 TeamNⅡ公演 杨冰怡 MC cut</a></p>
        <p>5. <a href="https://www.bilibili.com/video/av4803800/" target="_blank">20160529 TeamNⅡ《十八个闪耀瞬间》公演 《朱丽叶》</a></p>
        <p>6. <a href="https://www.bilibili.com/video/av4721960/" target="_blank">20160521 TeamNⅡ《十八个闪耀瞬间》赵粤生日公演 杨冰怡 MC cut</a></p>
        <p>7. <a href="https://www.bilibili.com/video/av4720139/" target="_blank">20160521 TeamNⅡ《十八个闪耀瞬间》赵粤生日公演 杨冰怡《朱丽叶》</a></p>
        <p>8. <a href="https://www.bilibili.com/video/av4666208/" target="_blank">20160515TeamNⅡ《十八个闪耀瞬间》龚诗淇生日公演鞠婧祎罗兰杨冰怡《糖》</a></p>
        <p>9. <a href="https://www.bilibili.com/video/av4665292/" target="_blank">20160515 TeamNⅡ《十八个闪耀瞬间》 龚诗淇生日公演 杨冰怡 MC cut</a></p>
        <p>10. <a href="https://www.bilibili.com/video/av4537802/" target="_blank">20160502 SNH48 N 《十八个闪耀瞬间》林思意生日公演 杨冰怡MC cut</a></p>
        <p>11. <a href="https://www.bilibili.com/video/av4527052/" target="_blank">20160501 SNH48 N 《十八个闪耀瞬间》公演 杨冰怡MC cut</a></p>
        <p>12. <a href="https://www.bilibili.com/video/av4521313/" target="_blank">20160423 SNH48 N 《十八个闪耀瞬间》 杨冰怡 MC cut</a></p>
        <p>13. <a href="https://www.bilibili.com/video/av4521530/" target="_blank">20160421 SNH48 N 《十八个闪耀瞬间》公演 杨冰怡 MC cut</a></p>
        <p>14. <a href="https://www.bilibili.com/video/av4532361/" target="_blank">20160416 SNH48 N 《十八个闪耀瞬间》东芝公演 杨冰怡MC cut</a></p>
        <p>15. <a href="https://www.bilibili.com/video/av4547431/" target="_blank">20160312 SNH48 N 《十八个闪耀瞬间》公演 杨冰怡MC cut</a></p>
    </section>

    <section data-folding="《逆流而上》">
      <h3 id="archive-header-9">《逆流而上》</h3>
        <p>1. <a href="https://www.bilibili.com/video/av4930481/20160610" target="_blank">20160610 TeamX 《逆流而上》千秋乐&李晶生日公演 杨冰怡 MC cut</a></p>
        <p>2. <a href="https://www.bilibili.com/video/av4928227/" target="_blank">20160610 TeamX《逆流而上》千秋乐&李晶生日公演 《曲终人散》（小学生版）</a></p>
        <p>3. <a href="https://www.bilibili.com/video/av4927981/" target="_blank">20160610 TeamX 《逆流而上》千秋乐&李晶生日公演 《爱之色》</a></p>
        <p>4. <a href="https://www.bilibili.com/video/av4808415/" target="_blank">20160529 TeamX《逆流而上》张丹三生日公演 杨冰怡 MC cut</a></p>
        <p>5. <a href="https://www.bilibili.com/video/av4807494/" target="_blank">20160529 TeamX《逆流而上》张丹三生日公演 杨冰怡 杨韫玉《任性的流星》</a></p>
        <p>6. <a href="https://www.bilibili.com/video/av4765189/" target="_blank">20160525 TeamX 公演 杨冰怡 MC cut</a></p>
        <p>7. <a href="https://www.bilibili.com/video/av4765019/" target="_blank">20160525 TeamX 公演 《曲终人散》</a></p>
        <p>8. <a href="https://www.bilibili.com/video/av4764840/" target="_blank">20160525 TeamX 《逆流而上》公演《爱之色》</a></p>
        <p>9. <a href="https://www.bilibili.com/video/av4702932/" target="_blank">20160519 TeamX 《逆流而上》公演 杨冰怡 MC cut</a></p>
        <p>10. <a href="https://www.bilibili.com/video/av4647837/" target="_blank">20160513 x 《逆流而上》公演 慕名信——想搞个大新闻的歆文和头总</a></p>
        <p>11. <a href="https://www.bilibili.com/video/av4643034/" target="_blank">20160513 SNH48 X 《逆流而上》公演 杨冰怡 MC cut&任性的流星</a></p>
        <p>12. <a href="https://www.bilibili.com/video/av4512037/" target="_blank">20160429 SNH48 X 《逆流而上》公演 MC4</a></p>
        <p>13. <a href="https://www.bilibili.com/video/av4509930/" target="_blank">20160429 SNH48 X 《逆流而上》MC2</a></p>
        <p>14. <a href="https://www.bilibili.com/video/av4509225/" target="_blank">20160429 SNH48 X 《逆流而上》 杨冰怡MC1 cut</a></p>
        <p>15. <a href="https://www.bilibili.com/video/av4521111/" target="_blank">20160422 SNH48 X 《逆流而上》公演 杨冰怡 MC cut</a></p>
        <p>16. <a href="https://www.bilibili.com/video/av4528609/" target="_blank">20160417 SNH48 X《逆流而上》一周年公演 杨冰怡 MC cut</a></p>
        <p>17. <a href="https://www.bilibili.com/video/av4532468/" target="_blank">20160413 SNH48 N、X《逆流而上》公演 杨冰怡MC cut</a></p>
        <p>18. <a href="https://www.bilibili.com/video/av4237606/" target="_blank">20160331 SNH48 X 公演 杨冰怡 MCcut</a></p>
        <p>19. <a href="https://www.bilibili.com/video/av4546817/" target="_blank">20160325 SNH48 X 《逆流而上》公演 杨冰怡MC cut</a></p>
        <p>20. <a href="https://www.bilibili.com/video/av4547128/" target="_blank">20160323 SNH48 X 《逆流而上》公演 杨冰怡 MC cut</a></p>
        <p>21. <a href="https://www.bilibili.com/video/av4547309/" target="_blank">20160317 SNH48 X 《逆流而上》公演 杨冰怡 MC cut</a></p>
        <p>22. <a href="https://www.bilibili.com/video/av4547882/" target="_blank">20160309 SNH48 X 《逆流而上》公演 杨冰怡 MC cut</a></p>
        <p>23. <a href="https://www.bilibili.com/video/av4547936/" target="_blank">20160302 SNH48 X《逆流而上》公演 杨冰怡 MC cut</a></p>
        <p>24. <a href="https://www.bilibili.com/video/av4553061/" target="_blank">20160225 SNH48 X《逆流而上》公演 杨冰怡 MC cut</a></p>
        <p>25. <a href="https://www.bilibili.com/video/av4553125/" target="_blank">20160221 SNH48 X 《逆流而上》张韵雯生日公演 杨冰怡 MC cut</a></p>
        <p>26. <a href="https://www.bilibili.com/video/av4553336/" target="_blank">20160124 SNH48 X 《逆流而上》闫明筠公演 杨冰怡 MC cut</a></p>
        <p>27. <a href="https://www.bilibili.com/video/av4553578/" target="_blank">20160101 SNH48 X 《逆流而上》公演 杨冰怡 MC cut</a></p>
        <p>28. <a href="https://www.bilibili.com/video/av4561298/" target="_blank">20151220 SNH48 X 《逆流而上》圣诞公演 杨冰怡 MC cut</a></p>
        <p>29. <a href="https://www.bilibili.com/video/av4561674/" target="_blank">20151212 SNH48 X《逆流而上》公演 杨冰怡 MC cut</a></p>
        <p>30. <a href="https://www.bilibili.com/video/av4561803/" target="_blank">20151205 SNH48 X 《逆流而上》公演 杨冰怡 MC cut</a></p>
        <p>31. <a href="https://www.bilibili.com/video/av4570083/" target="_blank">20151128 SNH48 X《逆流而上》公演 杨冰怡 MC cut</a></p>
        <p>32. <a href="https://www.bilibili.com/video/av4571300/" target="_blank">20151125 SNH48 X《逆流而上》公演 杨冰怡 MC cut</a></p>
        <p>33. <a href="https://www.bilibili.com/video/av4570714/" target="_blank">20151122 SNH48 X 《逆流而上》公演 杨冰怡 MC cut</a></p>
        <p>34. <a href="https://www.bilibili.com/video/av4570728/" target="_blank">20151121 SNH48 X 《逆流而上》公演 杨冰怡 MC cut</a></p>
        <p>35. <a href="https://www.bilibili.com/video/av4571347/" target="_blank">20151114 SNH48 X 《逆流而上》公演 杨冰怡 MC cut</a></p>
        <p>36. <a href="https://www.bilibili.com/video/av4571425/" target="_blank">20151112 SNH48 X 《逆流而上》公演 杨冰怡 MC cut</a></p>
        <p>37. <a href="https://www.bilibili.com/video/av4571811/" target="_blank">20151108 SNH48 X 《逆流而上》公演 杨冰怡 MC cut</a></p>
        <p>38. <a href="https://www.bilibili.com/video/av4572293/" target="_blank">20151107 SNH48 X 《逆流而上》孙歆文生日公演 杨冰怡 MC cut</a></p>
        <p>39. <a href="https://www.bilibili.com/video/av4572316/" target="_blank">20151106 SNH48 X 《逆流而上》公演首演 杨冰怡 MC cut</a></p>
    </section>

    <section data-folding="《最后的钟声响起》">
      <h3 id="archive-header-10">《最后的钟声响起》</h3>
        <p>1. <a href="https://www.bilibili.com/video/av4578681/" target="_blank">20151024 SNH48 X 《最后的钟声响起》千秋乐公演 杨冰怡 MC cut</a></p>
        <p>2. <a href="https://www.bilibili.com/video/av4579267/" target="_blank">20151023 SNH48 X 《最后的钟声响起》冯晓菲生日公演 杨冰怡 MC cut</a></p>
        <p>3. <a href="https://www.bilibili.com/video/av4579616/" target="_blank">20151018 SNH48 X《最后的钟声响起》公演 杨冰怡 MC cut</a></p>
        <p>4. <a href="https://www.bilibili.com/video/av4580610/" target="_blank">20151004 SNH48 X 《最后的钟声响起》公演 杨冰怡 MC cut</a></p>
        <p>5. <a href="https://www.bilibili.com/video/av4581425/" target="_blank">20151002 SNH48 X 《最后的钟声响起》 公演 杨冰怡 MC cut</a></p>
        <p>6. <a href="https://www.bilibili.com/video/av4599573/" target="_blank">20150924 SNH48 X 《最后的钟声响起》公演 杨冰怡 MC cut</a></p>
        <p>7. <a href="https://www.bilibili.com/video/av4602875/" target="_blank">20150919 SNH48 X 《最后的钟声响起》杨韫玉生日公演 杨冰怡 MC cut</a></p>
        <p>8. <a href="https://www.bilibili.com/video/av4602456/" target="_blank">20150914 SNH48 X 《最后的钟声响起》公演 杨冰怡 MC cut</a></p>
        <p>9. <a href="https://www.bilibili.com/video/av4602126/" target="_blank">20150909 SNH48 X 《最后的钟声响起》公演 杨冰怡 MC cut</a></p>
        <p>10. <a href="https://www.bilibili.com/video/av4726049/" target="_blank">20150718 TeamX《最后的钟声响起》MC CUT（杨冰怡生日公演 未剪辑)</a></p>
        <p>11. <a href="https://www.bilibili.com/video/av4625066/" target="_blank">20150511 SNH48 X 《逆流而上》公演 杨冰怡 MC cut</a></p>
        <p>12. <a href="https://www.bilibili.com/video/av4588312/" target="_blank">20160507 SNH48 X 《逆流而上》李钊生日公演 杨冰怡 MC cut</a></p>
    </section>

    <section data-folding="特别公演">
      <h3 id="archive-header-11">特别公演</h3>
        <p>1. <a href="https://www.bilibili.com/video/av29650686" target="_blank">20180817 【SNH48】【杨冰怡】《就差一点点》 《七夕特殊公演》</a></p>
        <p>2. <a href="https://www.bilibili.com/video/av29650529" target="_blank">20180817 【SNH48】【杨冰怡】  Team X《七夕特别公演》公演MC CUT</a></p>
        <p>3. <a href="https://www.bilibili.com/video/av27028557" target="_blank">20180712 【SNH48】【杨冰怡】 《百分百心动》特殊公演MC CUT</a></p>
        <p>4. <a href="https://www.bilibili.com/video/av27020699" target="_blank">20180712 【SNH48】【杨冰怡】《夜行的黑猫》 《百分百心动》特殊公演</a></p>
        <p>5. <a href="https://www.bilibili.com/video/av19380600/" target="_blank">20180209 春晚主题公演（TOP32+TOP48成员）</a></p>
        <p>6. <a href="https://www.bilibili.com/video/av18242430/" target="_blank">20180112 2017 SNH48 星梦剧院年度MVP 荣耀揭晓</a></p>
        <p>7. <a href="https://www.bilibili.com/video/av15904537/" target="_blank">20171031 万圣节特别公演 TeamX 全场 CUT</a></p>
        <p>8. <a href="https://www.bilibili.com/video/av15074179/" target="_blank">20171004 中秋特别公演 杨冰怡 cut</a></p>
        <p>9. <a href="https://www.bilibili.com/video/av14968811/" target="_blank">20171001 国庆联合特别公演 杨冰怡 cut</a></p>
        <p>10. <a href="https://www.bilibili.com/video/av14253797/" target="_blank">20170907 X队特别公演《剧场四周年》 公演 杨冰怡 cut</a></p>
        <p>11. <a href="https://www.bilibili.com/video/av8944111/" target="_blank">20170303 MVP特别公演 杨冰怡 cut</a></p>
        <p>12. <a href="https://www.bilibili.com/video/av9558500/" target="_blank">20170402TeamX 二周年特别公演 杨冰怡 cut</a></p>
        <p>13. <a href="https://www.bilibili.com/video/av8134432/" target="_blank">20170121 辞旧迎新主题公演 杨冰怡 cut</a></p>
        <p>14. <a href="https://www.bilibili.com/video/av6297375/" target="_blank">20160915 TeamNⅡ、TeamX 中秋联合特别公演 杨冰怡 cut</a></p>
        <p>15. <a href="https://www.bilibili.com/video/av4337754/" target="_blank">20160410 SNH48 S/X联合公演 杨冰怡 MC1cut&MC4</a></p>
        <p>16. <a href="https://www.bilibili.com/video/av4532601/" target="_blank">20160410 SNH48 S、X《最后的钟声响起》联合公演杨冰怡MC cut</a></p>
        <p>17. <a href="https://www.bilibili.com/video/av4532737/" target="_blank">20160409 SNH48 N、X《逆流而上》联合公演杨冰怡 MC cut</a></p>
        <p>18. <a href="https://www.bilibili.com/video/av4532829/" target="_blank">20160404 snh48 S、X《最后的钟声响起》联合公演 杨冰怡 MC cut</a></p>
        <p>19. <a href="https://www.bilibili.com/video/av4533066/" target="_blank">20160403 snh48 S、X《最后的钟声响起》联合公演 杨冰怡 MC cut</a></p>
        <p>20. <a href="https://www.bilibili.com/video/av3745457/" target="_blank">SNH48 “2016猴年春晚B版”暨“X队剧场年度MVP张丹三特演”之《本草纲目+辣妹子》</a></p>
        <p>21. <a href="https://www.bilibili.com/video/av4602142/" target="_blank">20150904 SNH48 S/X 《最后的钟声响起》联合公演 杨冰怡 MC cut</a></p>
    </section>

  <section data-folding="最新活动">
    <h2 class="page-header" id="archive-header-12">最新活动</h2>
  </section>

    <section data-folding="外务">
      <h3 id="archive-header-13">外务</h3>
        <p>1. <a href="https://www.bilibili.com/video/av27636151" target="_blank">20180724 VR少女|夏日密语</a></p>
        <p>2. <a href="https://www.bilibili.com/video/av23757679" target="_blank">20180521 SNH48的00后小分队Color Girls代言的游戏《少女终末战争》究竟是什么东西</a></p>
        <p>3. <a href="https://www.bilibili.com/video/av22212903" target="_blank">20180417 《SNHello星梦学院 第二季》塞纳河试胆大会删减片段</a></p>
        <p>4. <a href="https://www.bilibili.com/video/av22269647" target="_blank">20180413 SNHello 星梦学院2</a></p>
        <p>5. <a href="https://www.bilibili.com/video/av18770944/" target="_blank">20180126 杨冰怡天猫年货节</a></p>
        <p>6. <a href="https://www.bilibili.com/video/av18225732/" target="_blank">20180111 网易薄荷红毯【杨冰怡】</a></p>
        <p>7. <a href="https://www.bilibili.com/video/av17556903/" target="_blank">20171223 《上海和顺明星慈善夜》</a></p>
        <p>8. <a href="https://www.bilibili.com/video/av15452469/" target="_blank">20171016 SNH48 “我心翱翔”微记录：杨冰怡</a></p>
        <p>9. <a href="https://www.bilibili.com/video/av14561224/" target="_blank">20170917 来伊份伊仔生日趴</a></p>
        <p>10. <a href="https://www.bilibili.com/video/av14308830/" target="_blank">20170909 SNH48慈善拍卖会 偶像助力爱小丫的秘密</a></p>
        <p>11. <a href="https://www.bilibili.com/video/av13541773/" target="_blank">20170819《QQ浏览器引读者》看SNH48二水杨冰怡阅读的知性的一面</a></p>
        <p>12. <a href="https://www.bilibili.com/video/av13846080/" target="_blank">20170826 第二届粉丝嘉年华线下盛典 Color Girls表演部分(孙珍妮 谢妮 费沁源 杨冰怡)</a></p>
        <p>13. <a href="https://www.bilibili.com/video/av13367023/" target="_blank">20170805 BesTV 《星聚会》(杨韫玉 杨冰怡 刘增艳 潘瑛琪)</a></p>
        <p>14. <a href="https://www.bilibili.com/video/av12480444/" target="_blank">20170723 【SNH48】【梦想家】SNH48@上海影响力独家企划</a></p>
        <p>15. <a href="https://www.bilibili.com/video/av9192537/" target="_blank">20170316 【SNH48】杨冰怡 综艺 星APP风云榜CUT 混剪</a></p>
        <p>16. <a href="https://www.bilibili.com/video/av8237392/" target="_blank">20170126 【SNH48】CCTV3《东西南北贺新春》福气东来</a></p>
    </section>

    <section data-folding="团内活动">
      <h3 id="archive-header-14">团内活动</h3>
        <p>1. <a href="https://www.bilibili.com/video/av27636246" target="_blank">20180724 SNH48GROUP总选前的秘密突袭</a></p>
        <p>2. <a href="https://www.bilibili.com/video/av27611557" target="_blank">20180724 SNH48年度总决选倒计时4天</a></p>
        <p>3. <a href="https://www.bilibili.com/video/av22056039" target="_blank">20180413【饭拍】SNH48运动会花絮：各队入场表演时的四位主持人视角</a></p>
        <p>4. <a href="https://www.bilibili.com/video/av21205174" target="_blank">20180323 三X戟带你看TEAM FT 出道首演</a></p>
        <p>5. <a href="https://www.bilibili.com/video/av12302239/" target="_blank">20170717 莫莫有闻第七期 (杨冰怡 谢妮)</a></p>
        <p>6. <a href="https://www.bilibili.com/video/av11888873/" target="_blank">20170705 【SNH48】总决选演唱会应援科普 冯薪朵、李钊、杨冰怡、吕一带你玩转！</a></p>
        <p>7. <a href="https://www.bilibili.com/video/av9994837/" target="_blank">20170421 《塞纳河一周播报》（杨冰怡、王晓佳）</a></p>
    </section>

    <section data-folding="《48狼人杀》">
      <h3 id="archive-header-15">《48狼人杀》</h3>
        <p>1. <a href="https://www.bilibili.com/video/av23350447" target="_blank">20180512 星机再临—SNH48《48狼人杀》线下活动星机杀上海站</a></p>
        <p>2. <a href="https://www.bilibili.com/video/av20666444" target="_blank">20180311 【SNH48】【杨冰怡】48狼人杀 齐乐场</a></p>
        <p>3. <a href="https://www.bilibili.com/video/av20528904" target="_blank">20180308 【SNH48】【杨冰怡】48狼人杀 齐乐场 - 看水水和粉丝斗（互）智（相）斗（忽）勇（悠）</a></p>
        <p>4. <a href="https://www.bilibili.com/video/av19313239/" target="_blank">20180208 SNH48《48狼人杀》第十四期收官之战</a></p>
        <p>5. <a href="https://www.bilibili.com/video/av18878499/" target="_blank">青春大本营的直播间（48狼人杀星梦咖啡厅线下讨论)</a></p>
        <p>6. <a href="https://www.bilibili.com/video/av18647204/" target="_blank">20180123 SNH48青春大本营《48狼人杀》第十三期</a></p>
        <p>7. <a href="https://www.bilibili.com/video/av18381213/" target="_blank">20180116 SNH48青春大本营《48狼人杀》第十二期</a></p>
        <p>8. <a href="https://www.bilibili.com/video/av17621398/" target="_blank">20171225 SNH48青春大本营《48狼人杀》第十期：圣诞冰封大作战</a></p>
        <p>9. <a href="https://www.bilibili.com/video/av17424186/" target="_blank">20171219 SNH48青春大本营《48狼人杀》第九期</a></p>
        <p>10. <a href="https://www.bilibili.com/video/av16975232/" target="_blank">20171205 SNH48青春大本营《48狼人杀》第七期</a></p>
        <p>11. <a href="https://www.bilibili.com/video/av16547885/" target="_blank">20171121 SNH48青春大本营《48狼人杀》第五期</a></p>
        <p>12. <a href="https://www.bilibili.com/video/av16389161/" target="_blank">20171117 SNH48第三期“48狼人杀”花絮</a></p>
        <p>13. <a href="https://www.bilibili.com/video/av16336702/" target="_blank">20171115 SNH48青春大本营《48狼人杀》第四期</a></p>
        <p>14. <a href="https://www.bilibili.com/video/av16115996/" target="_blank">20171107 SNH48青春大本营《48狼人杀》第三期</a></p>
        <p>15. <a href="https://www.bilibili.com/video/av15931286/" target="_blank">20171101 SNH48青春大本营《48狼人杀》第二期</a></p>
        <p>16. <a href="https://www.bilibili.com/video/av15287970/" target="_blank">20171010 SNH48青春大本营《48狼人杀》第一期</a></p>
        <p>17. <a href="https://www.bilibili.com/video/av16811667/" target="_blank">20171130 【SNH48】【杨冰怡】SNH48官方音游《星梦想48》语音</a></p>
    </section>

    <section data-folding="演唱会">
      <h3 id="archive-header-16">演唱会</h3>
        <p>1. <a href="https://www.bilibili.com/video/av19323227/" target="_blank">20180203 SNH48第4届金曲大赏BEST50以及SNH48成员大重组发表</a></p>
        <p>2. <a href="https://www.bilibili.com/video/av19055979/" target="_blank">20180202 SNH48五周年演唱会B50预热场 杨冰怡CUT</a></p>
        <p>3. <a href="https://www.bilibili.com/video/av16818089/" target="_blank">20171118 第三届年度风尚大赏 cut (Color Girls 《Sweet Boy》)</a></p>
        <p>4. <a href="https://www.bilibili.com/video/av12837560/" target="_blank">20170729 第四届总选杨冰怡cut</a></p>
        <p>5. <a href="https://www.bilibili.com/video/av7896670/" target="_blank">第三届金曲大赏杨冰怡cut (关于甜蜜的愿望, 雨中钢琴师, 梦想的旗帜)</a></p>
    </section>

    <section data-folding="演唱会花絮">
      <h3 id="archive-header-17">演唱会花絮</h3>
        <p>1. <a href="https://www.bilibili.com/video/av19186909/" target="_blank">B50握手会 2月4、5号 袋王直播 X队成员cut</a></p>
        <p>2. <a href="https://www.bilibili.com/video/av19158125/" target="_blank">20180204 Team X 《新航路》快闪</a></p>
    </section>

    <section data-folding="2016">
      <h3 id="archive-header-18">2016</h3>
        <p>1. <a href="https://www.bilibili.com/video/av7283813/20161126" target="_blank">20161126 动感101《超级DJ》杨冰怡 陈琳 谢天依</a></p>
        <p>2. <a href="https://www.bilibili.com/video/av7093850/" target="_blank">20161112 动感101《超级DJ》王晓佳 杨冰怡 汪佳翎</a></p>
        <p>3. <a href="https://www.bilibili.com/video/av4955228/" target="_blank">20160612 动感101《超级DJ》全场 黄婷婷 李晶 杨冰怡</a></p>
        <p>4. <a href="https://www.bilibili.com/video/av7250720/" target="_blank">20161125 华语金曲音乐会《梦想的旗帜》</a></p>
        <p>5. <a href="https://www.bilibili.com/video/av13989603/" target="_blank">20161100【SNH48东芝秋季运动会】完整版</a></p>
        <p>6. <a href="https://www.bilibili.com/video/av6827175/" target="_blank">SNH48 X队新公演《梦想的旗帜》成员专访花絮</a></p>
        <p>7. <a href="https://www.bilibili.com/video/av6437906/" target="_blank">20160924 杨冰怡《2016热波音乐节》cut</a></p>
        <p>8. <a href="https://www.bilibili.com/video/av6436911/" target="_blank">20160926 杨冰怡 《京东派&吉列--女神降临“剃”造青春》</a></p>
        <p>9. <a href="https://www.bilibili.com/video/av5424167/" target="_blank">20160721 SNH48年度总决选预热综艺《偶像的挑战》第七集</a></p>
    </section>

    <section data-folding="2015">
      <h3 id="archive-header-19">2015</h3>
        <p>1. <a href="https://www.bilibili.com/video/av2495828/" target="_blank">首届龙珠直播《英雄联盟》电竞女神邀请赛SNH48表演赛</a></p>
        <p>2. <a href="https://www.bilibili.com/video/av3063818/" target="_blank">20151015 看看新闻网 语录：SNH48畅聊《万圣节之夜》邵雪聪 杨冰怡 闫明筠 汪佳翎</a></p>
        <p>3. <a href="https://www.bilibili.com/video/av3029540/index_4.html" target="_blank">SNH48 第二届总选举特别综艺 《心的舞台》第四集 徐晗 陈怡馨 李钊 杨冰怡</a></p>
        <p>4. <a href="http://v.youku.com/v_show/id_XMTU5Mjk4NjU5Ng==.html" target="_blank">20150908 SNH48 进击的女生 第六集 杨冰怡 cut</a></p>
    </section>

    <section data-folding="国民美少女 小电视 口袋直播">
      <h3 id="archive-header-20">国民美少女 小电视 口袋直播</h3>
        <p>1. <a href="http://v.youku.com/v_show/id_XMTQ1ODkxNDA0NA==.html" target="_blank">20160124 国民美少女 2016：N队特训节目《小幸运》及队伍花絮</a></p>
        <p>2. <a href="https://www.bilibili.com/video/av6766957/index_18.html" target="_blank">2016-1-22 第三期【伟大航道】杨冰怡、陈琳、杨蕴玉</a></p>
        <p>3. <a href="https://www.bilibili.com/video/av6766957/index_13.html" target="_blank">2016-1-15 第二期【伟大航道】杨蕴玉、杨冰怡、陈琳</a></p>
        <p>4. <a href="https://www.bilibili.com/video/av6766957/index_2.html" target="_blank">2015-12-28 第一期【伟大航道】杨冰怡、张丹三</a></p>
    </section>

    <section data-folding="星APP风云榜">
      <h3 id="archive-header-21">星APP风云榜</h3>
        <p>1. <a href="https://www.bilibili.com/video/av6918464/" target="_blank">20160822 第二十一期</a></p>
        <p>2. <a href="https://www.bilibili.com/video/av5057779/" target="_blank">20160622 第十二期</a></p>
        <p>3. <a href="https://www.bilibili.com/video/av4999958/" target="_blank">20160617 第十一期</a></p>
        <p>4. <a href="https://www.bilibili.com/video/av4838592/" target="_blank">20160601 第八期</a></p>
        <p>5. <a href="https://www.bilibili.com/video/av4621199/" target="_blank">20160511 第六期</a></p>
    </section>

    <section data-folding="塞纳河畔夜谈">
      <h3 id="archive-header-22">塞纳河畔夜谈</h3>
        <p>1. <a href="http://v.youku.com/v_show/id_XMTI1Nzc3NjgxNg==.html" target="_blank">SNH48《塞纳河畔夜谈》第六弹 李晶.杨冰怡.张丹三</a></p>
        <p>2. <a href="http://v.youku.com/v_show/id_XMTI2MTQxMjgxNg==.html" target="_blank">SNH48《塞纳河畔夜谈》第七弹 李晶.杨冰怡 张丹三</a></p>
        <p>3. <a href="https://www.bilibili.com/video/av3541523/" target="_blank">SNH48塞纳河畔夜谈vol.35：杨冰怡 杨韫玉 张丹三</a></p>
        <p>4. <a href="https://www.bilibili.com/video/av4186664/" target="_blank">SNH48塞纳河畔夜谈vol.44：闫明筠 杨冰怡 张韵雯</a></p>
        <p>5. <a href="https://www.bilibili.com/video/av5787333/" target="_blank">SNH48塞纳河畔夜谈vol.63：宋昕冉 杨冰怡 杨韫玉</a></p>
    </section>

  <section data-folding="参与MV">
    <h2 class="page-header" id="archive-header-23">参与MV</h2>
      <p>1. <a href="https://www.bilibili.com/video/av23819082" target="_blank">SNH48人气小分队 Color Girls主唱《少女终末战争》主题曲MV预告</a></p>
      <p>2. <a href="https://www.bilibili.com/video/av19110332/" target="_blank">出道五周年纪念歌曲《我的世界还有你》正式版MV</a></p>
      <p>3. <a href="https://www.bilibili.com/video/av17605468/" target="_blank">《甜蜜盛典》舞蹈版MV</a></p>
      <p>4. <a href="https://www.bilibili.com/video/av17466548/" target="_blank">新年贺岁MV《甜蜜盛典》</a></p>
      <p>5. <a href="https://www.bilibili.com/video/av15683021/" target="_blank">总决选TOP32汇报MV《绚丽时代》拍摄花絮</a></p>
      <p>6. <a href="https://www.bilibili.com/video/av15490528/" target="_blank">超能太阳鸭－早安梦幻岛MV</a></p>
      <p>7. <a href="https://www.bilibili.com/video/av15316764/" target="_blank">SNH48 第四次总决选TOP32汇报MV《绚丽时代》</a></p>
      <p>8. <a href="https://www.bilibili.com/video/av15446196/" target="_blank">SNH48 第四次总决选TOP32“高飞组”《绚丽时代》舞蹈版MV</a></p>
      <p>9. <a href="https://www.bilibili.com/video/av15236439" target="_blank">《歌唱祖国》MV 为祖国母亲献礼</a></p>
      <p>10. <a href="https://www.bilibili.com/video/av12203146/" target="_blank">【总选PV】 杨冰怡 宋昕冉 初恋蝴蝶</a></p>
      <p>11. <a href="https://www.bilibili.com/video/av4344764/" target="_blank">SNH48《梅洛斯之路》官方版MV</a></p>
      <p>12. <a href="https://www.bilibili.com/video/av6746666/" target="_blank">SNH48《哎呦爱呦》官方版MV</a></p>
  </section>

  <section data-folding="粉丝视频">
    <h2 class="page-header" id="archive-header-24">粉丝视频</h2>
  </section>

    <section data-folding="合辑">
      <h3 id="archive-header-25">合辑</h3>
        <p>1. <a href="https://www.bilibili.com/video/av18527616/" target="_blank">【再进恩兔杨冰怡，高能MC嗨翻你】</a></p>
        <p>2. <a href="https://www.bilibili.com/video/av7375395/" target="_blank">【杨冰怡返图站】unit合集</a></p>
        <p>3. <a href="https://www.bilibili.com/video/av4697931/" target="_blank">【杨冰怡返图站】杨冰怡MC爆炸输出合辑（持续更新）</a></p>
        <p>4. <a href="https://www.bilibili.com/video/av11187204/" target="_blank">【魔笔小艇】杨冰怡啪啪合辑</a></p>
        <p>5. <a href="https://www.bilibili.com/video/av10302795/" target="_blank">【魔笔小艇】杨冰怡美拍集锦（20150204~20151221）</a></p>
        <p>6. <a href="https://www.bilibili.com/video/av8330234/" target="_blank">【魔笔小艇】杨冰怡全能模仿秀选辑</a></p>
        <p>7. <a href="https://www.bilibili.com/video/av14924796/" target="_blank">【魔笔小艇】杨冰怡特演合辑</a></p>
    </section>

    <section data-folding="安利向">
      <h3 id="archive-header-26">安利向</h3>
        <p>1. <a href="https://www.bilibili.com/video/av28714435" target="_blank">【生个奶奶吧】SNH48TEAMX燃向混剪 宮崎歩 - brave heart（数码宝贝进化曲）</a></p>
        <p>2. <a href="https://www.bilibili.com/video/av27737621" target="_blank">【杨冰怡应援网】【录播】杨冰怡18岁生日直播全场</a></p>
        <p>3. <a href="https://www.bilibili.com/video/av27801947" target="_blank">【SNH48-鬼畜应援会】【杨冰怡】黑凤梨 | 生贺</a></p>
        <p>4. <a href="https://www.bilibili.com/video/av23625705" target="_blank">【水锅-澈】【SNH48杨冰怡】公演CUT混剪</a></p>
        <p>5. <a href="https://www.bilibili.com/video/av19524338" target="_blank">【杨冰怡应援会】《MC进水了》第一期 - MC高能搞笑集锦</a></p>
        <p>6. <a href="https://www.bilibili.com/video/av9396174/" target="_blank">【废土求生者Clay】向全世界安利杨冰怡</a></p>
        <p>7. <a href="https://www.bilibili.com/video/av14791408" target="_blank">【魔笔小艇】当星星落入你的眼眸~</a></p>
        <p>8. <a href="https://www.bilibili.com/video/av6400250/" target="_blank">【有爱的某人】追梦之人-杨冰怡安利视频</a></p>
        <p>9. <a href="https://www.bilibili.com/video/av15652346/" target="_blank">【SNH48-TeamX应援会】饭制X队出道1000天纪录片</a></p>
        <p>10. <a href="https://www.bilibili.com/video/av13225512/" target="_blank">【银七君】《最初的梦想》杨冰怡生诞祭应援视频</a></p>
        <p>11. <a href="https://www.bilibili.com/video/av15022016/" target="_blank">【CollectingS_个站】杨冰怡生诞季安利片</a></p>
        <p>12. <a href="https://www.bilibili.com/video/av14718216/" target="_blank">【CollectingS_个站】《岁月神偷》杨冰怡生诞季应援视频</a></p>
        <p>13. <a href="https://www.bilibili.com/video/av8318006/" target="_blank">【卡鞠党员水推本】祝水老大两周年快乐</a></p>
        <p>14. <a href="https://www.bilibili.com/video/av4830014/" target="_blank">【杨冰怡返图站】杨冰怡第三届总选应援视频</a></p>
        <p>15. <a href="https://www.bilibili.com/video/av7090745/" target="_blank">【跨越大海的瑞瑞】杨冰怡－应援PV</a></p>
        <p>16. <a href="https://www.bilibili.com/video/av6702889/" target="_blank">【跨越大海的瑞瑞】杨冰怡－应援PV2</a></p>
        <p>17. <a href="https://www.bilibili.com/video/av12052399/" target="_blank">【魔笔小艇】爱和笑只给你看见，哭和眼泪我自己体会~ （杨冰怡拉票演讲环节 弹幕版）</a></p>
    </section>

    <section data-folding="搞事向">
      <h3 id="archive-header-27">搞事向</h3>
        <p>1. <a href="https://www.bilibili.com/video/av27048676" target="_blank">【幸运蛋_阿羡】【杨冰怡】可爱向？嘴巴嘟嘟</a></p>
        <p>2. <a href="https://www.bilibili.com/video/av27620777" target="_blank">【碳碳茶】【SNH48Group】共享女友/红颜祸水/中央空调盘点|修罗场预订 （我没看水水应该是被浪的吧误）</a></p>
        <p>3. <a href="https://www.bilibili.com/video/av28156920" target="_blank">【幸运蛋_阿羡】【TEAMX】【总选鬼畜】小偶像在舞台上公然打电话啦！！</a></p>
        <p>4. <a href="https://www.bilibili.com/video/av23683830" target="_blank">【來自香港Fans】【杨冰怡】看《首演 前四首》的反应 (头号新闻公演)</a></p>
        <p>5. <a href="https://www.bilibili.com/video/av17034918/" target="_blank">【SNH48-洪水应援会】【洪水】洪珮雲*杨冰怡 人鱼</a></p>
        <p>6. <a href="https://www.bilibili.com/video/av16156381/" target="_blank">【OLD广场舞团】我对灰灰有喜爱之情【OLD48】</a></p>
        <p>7. <a href="https://www.bilibili.com/video/av10107234/" target="_blank">【老翁JC】【首演就要搞事情3】梦想的旗帜（重置版）</a></p>
        <p>8. <a href="https://www.bilibili.com/video/av7569055/" target="_blank">【SNH48杨韫玉应援会】杨子杰和她的old48合辑</a></p>
        <p>9. <a href="https://www.bilibili.com/video/av17161278/" target="_blank">【Sy_小鑫_MeU】【水娜】不得了不得了</a></p>
        <p>10. <a href="https://www.bilibili.com/video/av14189762/" target="_blank">【NoPointの名字】生如夏花 甜蜜如梦</a></p>
        <p>11. <a href="https://www.bilibili.com/video/av13392307/" target="_blank">【吧唧绅士眉毛子】白玫瑰xTeamX（全员美颜向）</a></p>
        <p>12. <a href="https://www.bilibili.com/video/av7767032/" target="_blank">【白白三_THR】真·隔壁的王叔叔 束·水·三·韫【三韫】【三束】【束韫】</a></p>
        <p>13. <a href="https://www.bilibili.com/video/av10072216/" target="_blank">【今天又双叒换ID了】【TeamX】人鱼求佛【梦想的旗帜 隐藏Unit揭秘】</a></p>
        <p>14. <a href="https://www.bilibili.com/video/av8163120/" target="_blank">【菜皮小三三】《下一站是你》强行同框(冯晓菲 杨冰怡)</a></p>
        <p>15. <a href="https://www.bilibili.com/video/av6431416/" target="_blank">【废土求生者Clay】每天回家都会看到我的老婆在装死-水蜜桃</a></p>
        <p>16. <a href="https://www.bilibili.com/video/av6680902/" target="_blank">【虹口圣卡西】ppap x SNH48 Team X 杨冰怡</a></p>
        <p>17. <a href="https://www.bilibili.com/video/av8304659/" target="_blank">【卡鞠党员水推本】搞事少女SNH</a></p>
        <p>18. <a href="https://www.bilibili.com/video/av14573837/" target="_blank">【阿七米德】【水韫灰】电灯胆</a></p>
        <p>19. <a href="https://www.bilibili.com/video/av8305952/" target="_blank">【acfun游客】【水蜜桃】岁月神偷</a></p>
        <p>20. <a href="https://www.bilibili.com/video/av11378298/" target="_blank">【酱爆哥哥】SNH48高能经典MC之杨冰怡/冯晓菲篇</a></p>
        <p>21. <a href="https://www.bilibili.com/video/av9709193/" target="_blank">【St0rm_1yz】SNH48成员杨冰怡带你喊call</a></p>
        <p>22. <a href="https://www.bilibili.com/video/av11542831/" target="_blank">【SNH48总选集资直播】天王山圣杯争夺战第二天（最后二十分钟）(杨冰怡) 20170623</a></p>
        <p>23. <a href="https://www.bilibili.com/video/av13702737/" target="_blank">第四届总决选MV迪拜组接机 20170823</a></p>
    </section>

    <section data-folding="水灰特辑-悲报-中学生和大学生中间插了一个小七！">
      <h3 id="archive-header-28">水灰特辑-悲报-中学生和大学生中间插了一个小七！</h3>
        <p>1. <a href="https://www.bilibili.com/video/av25374466" target="_blank">【幸运蛋_阿羡】【水灰】【杨冰怡x冯晓菲】黑白配</a></p>
        <p>2. <a href="https://www.bilibili.com/video/av29244547" target="_blank">【松鼠不吃瓜子】塞纳河安利向[水韫灰]三个人的友情令我困惑不过我水灰还是稳</a></p>
        <p>3. <a href="https://www.bilibili.com/video/av29160882" target="_blank">【冯晓菲的甜甜wink】水灰超甜, 水水问喜欢谁,款:我喜欢你 喜欢做你的底端</a></p>
        <p>4. <a href="https://www.bilibili.com/video/av27163186" target="_blank">【辣叽bibobi】【水灰】易燃易爆炸</a></p>
        <p>5. <a href="https://www.bilibili.com/video/av23721531" target="_blank">【冯晓菲的甜甜wink】官博钦定水灰cp，灰灰看到水水那张带情话的图，害羞到不行，赶紧换话题</a></p>
        <p>6. <a href="https://www.bilibili.com/video/av23666167" target="_blank">【冯晓菲的甜甜wink】【冯晓菲】灰灰公演上当着大家把水水的灯掉包了竟无人知晓，灰灰笑到趴地上抹眼泪，水：妈妈呀，我队友是傻子</a></p>
        <p>7. <a href="https://www.bilibili.com/video/av18885083/" target="_blank">【三年二班红烧胖大海】w幼稚鬼的婚前婚后生活</a></p>
        <p>8. <a href="https://www.bilibili.com/video/av17189768/" target="_blank">【S夏氏表叔】红玫瑰</a></p>
        <p>9. <a href="https://www.bilibili.com/video/av16884262/" target="_blank">【阿七米德】点水蜻蜓</a></p>
        <p>10. <a href="https://www.bilibili.com/video/av16464137" target="_blank">【S夏氏表叔】真相是假</a></p>
        <p>11. <a href="https://www.bilibili.com/video/av16462384/" target="_blank">【SNH48水灰应援会】杨二水为何穿着情侣装控诉“骗婚”</a></p>
        <p>12. <a href="https://www.bilibili.com/video/av16300837/" target="_blank">【Tamama不大头】喂水灰给吃糖 水灰油腻铺狗粮</a></p>
        <p>13. <a href="https://www.bilibili.com/video/av16305802/" target="_blank">【仙道居士】水灰循环</a></p>
        <p>14. <a href="https://www.bilibili.com/video/av6435922/" target="_blank">【四二】恋爱循环</a></p>
        <p>15. <a href="https://www.bilibili.com/video/av14258245/" target="_blank">【冯晓菲的甜甜wink】《天使的圈套&爱恨的泪》</a></p>
        <p>16. <a href="https://www.bilibili.com/video/av6902287/" target="_blank">【ss_shin】水灰—生誕祭2016</a></p>
        <p>17. <a href="https://www.bilibili.com/video/av15045271/" target="_blank">【SNH48水灰应援会】【水灰】秒拍糖合集</a></p>
        <p>18. <a href="https://www.bilibili.com/video/av15026689/" target="_blank">【OLD48广场舞团】冯晓菲的直男之旅【水水七夕穿得很清凉?】</a></p>
        <p>19. <a href="https://www.bilibili.com/video/av15510696/" target="_blank">【冯晓菲的甜甜wink】水水听了想打人 ，灰灰快跑（嘴上虽然很嫌弃，但还是帮灰灰拿面）</a></p>
        <p>20. <a href="https://www.bilibili.com/video/av5536970/" target="_blank">【我不是猪】SNH48 少女偶像直播打架！喜闻乐见的水灰打架哈哈哈哈</a></p>
        <p>21. <a href="https://www.bilibili.com/video/av15536143/" target="_blank">【迷鹿_允鞠】水灰·苦是饭头苦-娜娜/莫莫前辈不要我（们）了</a></p>
    </section>

  <section data-folding="团内荣誉">
    <h2 class="page-header" id="archive-header-29">团内荣誉</h2>
      <p>1. <a href="https://www.bilibili.com/video/av18242430/" target="_blank">20180112 2017 SNH48 星梦剧院年度MVP 荣耀揭晓</a></p>
      <p>2. <a href="https://www.bilibili.com/video/av12837560/index_2.html" target="_blank">【SNH48】20170729 第四届总选ybycut</a></p>
      <p>3. <a href="https://www.bilibili.com/video/av11323761/" target="_blank">SNH48第二届总选剧场速报结果排名_超清</a></p>
  </section>

  <section data-folding="演讲感言">
    <h2 class="page-header" id="archive-header-30">演讲感言</h2>
      <p>1. <a href="https://www.bilibili.com/video/av27085647" target="_blank">2018-07-17 第五届总选拉票会</a></p>
      <p>2. <a href="https://www.bilibili.com/video/av24365561" target="_blank">2018-06-04 砥砺前行SNH48第五届年度人气总决选-杨冰怡个人宣言视频</a></p>
      <p>3. <a href="https://www.bilibili.com/video/av15452469/" target="_blank">20171016 SNH48 “我心翱翔”微记录：杨冰怡</a></p>
      <p>4. <a href="https://www.bilibili.com/video/av12837560/index_3.html" target="_blank">20170729 第四届总选 获奖感言</a></p>
      <p>5. <a href="https://www.bilibili.com/video/av12044917/index_13.html" target="_blank">20170709 第四届偶像年度人气总决选中报拉票发言</a></p>
      <p>6. <a href="https://www.bilibili.com/video/av11860576/" target="_blank">20170704 【snh48】杨冰怡加入Color Girls采访</a></p>
      <p>7. <a href="https://www.bilibili.com/video/av10830752/" target="_blank">20170525 第四届偶像人气年度总决选拉票宣言 杨冰怡部分</a></p>
      <p>8. <a href="https://www.bilibili.com/video/av8944994/" target="_blank">20170303 2016剧场MVP特演感言(00:52分)</a></p>
      <p>9. <a href="https://www.bilibili.com/video/av6812868/" target="_blank">20161024 新公演采访《梦想的旗帜》(杨冰怡cut)</a></p>
      <p>10. <a href="https://www.bilibili.com/video/av5463265/" target="_blank">20160723 杨冰怡生日 读信环节</a></p>
      <p>11. <a href="https://www.bilibili.com/video/av5463385/" target="_blank">20160723 杨冰怡生日 拉票环节</a></p>
      <p>12. <a href="https://www.bilibili.com/video/av13234520/" target="_blank">李钊2017生日公演水水念信CUT</a></p>
      <p>13. <a href="https://www.bilibili.com/video/av13128624/" target="_blank">冯晓菲2016生日字幕版(水水发言27:50)</a></p>
      <p>14. <a href="https://www.bilibili.com/video/av2347721/index_55.html" target="_blank">2016 SNH48“梦想高飞” 第2届总选举宣言</a></p>
      <p>15. <a href="https://www.bilibili.com/video/av4726049/" target="_blank">20150718 TeamX《最后的钟声响起》MC CUT（杨冰怡生日公演 未剪辑)</a></p>
      <p>16. <a href="https://www.bilibili.com/video/av2347721/?p=55" target="_blank">2015 SNH48“梦想高飞” 第2届总选举宣言</a></p>
  </section>

  <section data-folding="生日会">
    <h2 class="page-header" id="archive-header-31">生日会</h2>
      <p>1. <a href="https://www.bilibili.com/video/av15005584/" target="_blank">20171002 Team X 杨冰怡生日会</a></p>
      <p>2. <a href="https://www.bilibili.com/video/av6874690/" target="_blank">20161029冯晓菲生日冷餐会</a></p>
      <p>3. <a href="https://www.bilibili.com/video/av5459287/" target="_blank">20160723 杨冰怡冷餐会</a></p>
      <p>4. <a href="https://www.bilibili.com/video/av12468664/" target="_blank">20170722 Team X 宋昕冉生日会</a></p>
      <p>5. <a href="https://www.bilibili.com/video/av4594103/" target="_blank">20160507 Team X 李钊生日会</a></p>
  </section>

  <section data-folding="相关电台">
    <h2 class="page-header" id="archive-header-32">相关电台</h2>
      <p>1. <a href="http://music.163.com/#/djradio?id=345253087" target="_blank">水水的小学生日记(网易个人电台)</a></p>
      <p>2. <a href="http://music.163.com/#/radio/?id=349875343" target="_blank">杨冰怡的甜甜的歌曲合集(网易个人电台)</a></p>
      <p>3. <a href="https://soundcloud.com/fred-wang-422640669/sets/ybymusicstation" target="_blank">ybyMusicStation水水的音乐中心(Soundcloud)</a></p>
  </section>

  <section data-folding="未整理">
    <h2 class="page-header" id="archive-header-33">未整理</h2>
  </section>

{% endblock %}

{% block pageSidebar%}
  <ul>
    <li><a href="#archive-header-1">置顶</a></li>
    <li>
      <a href="#archive-header-2">公演</a>
      <ul>
        <li><a href="#archive-header-3">《命运的X号》</a></li>
        <li><a href="#archive-header-4">《以爱之名》</a></li>
        <li><a href="#archive-header-5">《梦想的旗帜》</a></li>
        <li><a href="#archive-header-6">《专属派对》</a></li>
        <li><a href="#archive-header-7">《十八个闪耀瞬间》</a></li>
        <li><a href="#archive-header-8">TeamNⅡ 《十八个闪耀瞬间》</a></li>
        <li><a href="#archive-header-9">《逆流而上》</a></li>
        <li><a href="#archive-header-10">《最后的钟声响起》</a></li>
        <li><a href="#archive-header-11">特别公演</a></li>
      </ul>
    </li>
    <li>
      <a href="#archive-header-12">最新活动</a>
      <ul>
        <li><a href="#archive-header-13">外务</a></li>
        <li><a href="#archive-header-14">团内活动</a></li>
        <li><a href="#archive-header-15">《48狼人杀》</a></li>
        <li><a href="#archive-header-16">演唱会</a></li>
        <li><a href="#archive-header-17">演唱会花絮</a></li>
        <li><a href="#archive-header-18">2016</a></li>
        <li><a href="#archive-header-19">2015</a></li>
        <li><a href="#archive-header-20">国民美少女 小电视 口袋直播</a></li>
        <li><a href="#archive-header-21">星APP风云榜</a></li>
        <li><a href="#archive-header-22">塞纳河畔夜谈</a></li>
      </ul>
    </li>
    <li><a href="#archive-header-23">参与MV</a></li>
    <li>
      <a href="#archive-header-24">粉丝视频</a>
      <ul>
        <li><a href="#archive-header-25">合辑</a></li>
        <li><a href="#archive-header-26">安利向</a></li>
        <li><a href="#archive-header-27">搞事向</a></li>
        <li><a href="#archive-header-28">水灰特辑-悲报-中学生和大学生中间插了一个小七！</a></li>
      </ul>
    </li>
    <li><a href="#archive-header-29">团内荣誉</a></li>
    <li><a href="#archive-header-30">演讲感言</a></li>
    <li><a href="#archive-header-31">生日会</a></li>
    <li><a href="#archive-header-32">相关电台</a></li>
    <li><a href="#archive-header-33">未整理</a></li>
  </ul>
{% endblock %}
