{% extends './templates/layout/doc.njk' %}

{# S: 页面元数据 #}
{% block documentTitle %}unit展示{% endblock %}
{% block pageName %}unit-archive{% endblock %}
{# E: 页面元数据 #}

{% block pageHeader %}
  <i class="fa-play-circle fa"></i> unit展示
{% endblock %}
{% block pageContent %}
  <section data-folding="unit展示">
    <h2 class="page-header" id="archive-header-1">unit展示</h2>
      <p>1. <a href="https://www.bilibili.com/video/av20574654" target="_blank">《皮草怡情》20180309 皮一下特别公演 (杨冰怡 王晓佳)</a></p>
      <p>2. <a href="https://www.bilibili.com/video/av19453674/" target="_blank">《人间规则》20180211 春晚主题公演 (万丽娜 杨冰怡 冯晓菲)</a></p>
      <p>3. <a href="https://www.bilibili.com/video/av19137560/" target="_blank">《暗夜脚步声》20180203 第四届金曲大赏B50 (杨冰怡 冯晓菲 赵晔 黄彤扬)</a></p>
      <p>4. <a href="https://www.bilibili.com/video/av19059318/" target="_blank">《Sweet Boy》20180202 第四届金曲大赏预热长 (Color Girls)</a></p>
      <p>5. <a href="https://www.bilibili.com/video/av18252843" target="_blank">《刺藤》20180112 2017剧场MVP表演(冯晓菲 杨冰怡)</a></p>
      <p>6. <a href="https://www.bilibili.com/video/av17577432/" target="_blank">《双生花》20171224 "命运的X号"第四场(冯晓菲 杨冰怡)</a></p>
      <p>7. <a href="https://www.bilibili.com/video/av17306013/" target="_blank">《Battle Cry》20171215 “命运的X号”首演(杨冰怡 孙歆文 祁静)</a></p>
      <p>8. <a href="https://www.bilibili.com/video/av16818089/" target="_blank">《Sweet boy》20171118 第三届风尚大赏(Color Girls)</a></p>
      <p>9. <a href="https://www.bilibili.com/video/av16814009/" target="_blank">《美杜莎》20171122 金曲大赏特别赏析节目(杨冰怡 宋昕冉 严佼君) </a></p>
      <p>10. <a href="https://www.bilibili.com/video/av16817333/" target="_blank">《Color Girls》20171031 万圣节特别公演(Color Girls) </a></p>
      <p>11. <a href="https://www.bilibili.com/video/av16401633/" target="_blank">《梦中的婚礼》Team X B50特殊表演 (冯晓菲 杨冰怡)</a></p>
      <p>12. <a href="https://www.bilibili.com/video/av16316969/" target="_blank">《爱未央》Team X-梦想的旗帜 2017冯晓菲生日公演 (冯晓菲 杨冰怡 杨蕴玉)</a></p>
      <p>13. <a href="https://www.bilibili.com/video/av15375253/" target="_blank">《春夏秋冬》Team NII-以爱之名(李艺彤 杨冰怡 黄彤杨 江真仪)</a></p>
      <p>14. <a href="https://www.bilibili.com/video/av15178997/" target="_blank">《白石溪》SNH48中秋联合公演（杨冰怡 张嘉予）</a></p>
      <p>15. <a href="https://www.bilibili.com/video/av14274233/" target="_blank">《天使的圈套》SNH48 Team X 剧场四周年（冯晓菲 杨冰怡）</a></p>
      <p>16. <a href="https://www.bilibili.com/video/av7896575/" target="_blank">《雨中的钢琴师》2016 B50演唱会(易嘉爱 龚诗淇 杨冰怡)</a></p>
      <p>17. <a href="https://www.bilibili.com/video/av4720681/" target="_blank">《朱丽叶》Team NII-十八个闪耀瞬间(曾艳芬 杨冰怡 陈问言)</a></p>
      <p>18. <a href="https://www.bilibili.com/video/av10483647/" target="_blank">《人鱼》Team X-梦想的旗帜（杨冰怡 冯晓菲）</a></p>
      <p>19. <a href="https://www.bilibili.com/video/av15034693/" target="_blank">《Colorful Days》SNH48 第四届总选演唱会(谢妮杨 冰怡 费沁源 孙珍妮 洪珮云)</a></p>
      <p>20. <a href="https://www.bilibili.com/video/av14382300/" target="_blank">《爱恨的泪》SNH48 Team X 剧场四周年（冯晓菲 杨冰怡）</a></p>
      <p>21. <a href="https://www.bilibili.com/video/av14313381/" target="_blank">《爱的洄游鱼》SNH48 Team X 剧场四周年（16人）</a></p>
      <p>22. <a href="https://www.bilibili.com/video/av14256959/" target="_blank">《To Be Continued》SNH48 Team X 剧场四周年（16人）</a></p>
      <p>23. <a href="https://www.bilibili.com/video/av13444425/" target="_blank">《Cat and Mouse》Team X-梦想的旗帜(宋昕冉 杨冰怡 冯晓菲)</a></p>
      <p>24. <a href="https://www.bilibili.com/video/av8944111/" target="_blank">《20170303 MVP特别公演》</a></p>
      <p>25. <a href="https://www.bilibili.com/video/av14625873/" target="_blank">《任性的流星》 Team X-十八个闪耀瞬（冯晓菲 杨冰怡）</a></p>
      <p>26. <a href="https://www.bilibili.com/video/av4644036/" target="_blank">《任性的流星》 Team X-十八个闪耀瞬间（宋昕冉 杨冰怡）</a></p>
      <p>27. <a href="https://www.bilibili.com/video/av6753476/" target="_blank">《任性的流星》Team X-十八个闪耀瞬间(杨冰怡 王晓佳)</a></p>
      <p>28. <a href="https://www.bilibili.com/video/av6721067/" target="_blank">《任性的流星》Team X-十八个闪耀瞬间(杨冰怡 邵雪聪)</a></p>
      <p>29. <a href="https://www.bilibili.com/video/av6987992/" target="_blank">《青涩的香蕉》2016中秋特别公演(冯晓菲 杨冰怡 李钊 杨蕴玉)</a></p>
      <p>30. <a href="https://www.bilibili.com/video/av14639836/" target="_blank">《青涩的香蕉》(冯晓菲 杨冰怡)</a></p>
      <p>31. <a href="https://www.bilibili.com/video/av12143187/" target="_blank">《虫之诗》SNH48第四届偶像年度人气总决选拉票公演(杨冰怡)</a></p>
      <p>32. <a href="https://www.bilibili.com/video/av11758264/" target="_blank">《after 17》</a></p>
      <p>33. <a href="https://www.bilibili.com/video/av11757184/" target="_blank">《想唱就唱》</a></p>
      <p>34. <a href="https://www.bilibili.com/video/av11733537/" target="_blank">《无可替代》Team X-梦想的旗帜(陈琳 杨冰怡 冯晓菲)</a></p>
      <p>35. <a href="https://www.bilibili.com/video/av11733546/" target="_blank">《梦》Team X-梦想的旗帜(宋昕冉 陈琳 杨冰怡)</a></p>
      <p>36. <a href="https://www.bilibili.com/video/av11616137/" target="_blank">《狼与自尊》Team XII-代号XII　李佳恩生日表演 (李佳恩 杨冰怡)</a></p>
      <p>37. <a href="https://www.bilibili.com/video/av11434131/" target="_blank">《无可替代》Team X-梦想的旗帜(邵雪聪 杨冰怡 冯晓菲)</a></p>
      <p>38. <a href="https://www.bilibili.com/video/av11168244/" target="_blank">《她和她》Team X-梦想的旗帜 X队成立两周年特别公演(杨冰怡 李钊)</a></p>
      <p>39. <a href="https://www.bilibili.com/video/av10561509/" target="_blank">《Monster》Team X-梦想的旗帜(王晓佳 张嘉予 杨冰怡 孙歆文)</a></p>
      <p>40. <a href="https://www.bilibili.com/video/av10360307/" target="_blank">《青春闪电》SNH48 X队两周年公演(张丹三 杨冰怡 冯晓菲)</a></p>
      <p>41. <a href="https://www.bilibili.com/video/av10155265/" target="_blank">《水手服》(黑色的) Team X-梦想的旗帜(杨冰怡 姚祎纯 张嘉予 李佳恩)</a></p>
      <p>42. <a href="https://www.bilibili.com/video/av9698332/" target="_blank">《曲终人散》丝葩偶像节特演 (万丽娜 徐子轩 杨冰怡)</a></p>
      <p>43. <a href="https://www.bilibili.com/video/av8854827/" target="_blank">《剧场女神》Team X-十八个闪耀瞬间 杨冰怡生日公演</a></p>
      <p>44. <a href="https://www.bilibili.com/video/av3690849/" target="_blank">《心型病毒》SNH48 第二届年度金曲大赏 BEST30 (张丹三 杨韫玉 杨冰怡)</a></p>
      <p>45. <a href="https://www.bilibili.com/video/av14626869/" target="_blank">《心型病毒》(冯晓菲 杨冰怡)</a></p>
      <p>46. <a href="https://www.bilibili.com/video/av8222524/" target="_blank">《心型病毒》(冯晓菲 杨冰怡 张韵雯)</a></p>
      <p>47. <a href="https://www.bilibili.com/video/av8307453/" target="_blank">《下一站是你》辞旧迎新主题公演 (杨冰怡 李佳恩)</a></p>
      <p>48. <a href="https://www.bilibili.com/video/av7954229/" target="_blank">《梦想的旗帜》2016 B50演唱会(主杨冰怡)</a></p>
      <p>49. <a href="https://www.bilibili.com/video/av9092747/" target="_blank">《如果你拥抱我》水水独镜</a></p>
      <p>50. <a href="https://www.bilibili.com/video/av7621435/" target="_blank">《OLD48 儿童音乐剧》2016圣诞公演特殊环节</a></p>
      <p>51. <a href="https://www.bilibili.com/video/av7438182/" target="_blank">《糖》Team NII-十八个闪耀瞬间（杨冰怡 鞠婧祎 罗兰)</a></p>
      <p>52. <a href="https://www.bilibili.com/video/av7138515/" target="_blank">《白日梦》Team NII-专属派对(张雅梦 杨冰怡 易嘉爱 黄彤扬 刘菊子)</a></p>
      <p>53. <a href="https://www.bilibili.com/video/av6878848/" target="_blank">《王子殿下 手牵手》Team X-梦想的旗帜 2016冯晓菲生日公演(冯晓菲 杨冰怡 李钊)</a></p>
      <p>54. <a href="https://www.bilibili.com/video/av6597190/" target="_blank">《第一只兔子》Team NII-十八个闪耀瞬间</a></p>
      <p>55. <a href="https://www.bilibili.com/video/av6596977/" target="_blank">《女王殿下》Team NII-十八个闪耀瞬间</a></p>
  </section>

{% endblock %}

{% block pageSidebar%}
  <ul>
    <li><a href="#archive-header-1">unit展示</a></li>
  </ul>
{% endblock %}
