{% extends './templates/layout/base.njk' %}

{% block documentTitle %}SNH48杨冰怡补档站{% endblock %}
{% block pageName %}home{% endblock %}

{% block header %}
  {{ super() }}

  <section class="next-hero">
    <div class="text-center next-hero-headline">SNH48, 杨冰怡</div>
    <div class="text-center next-hero-description">Yang Bingyi</div>
    <div class="text-center next-hero-buttons">
      <a class="btn btn-default" href="/show-archive.html" role="button">开始补档</a>
    </div>
  </section>
{% endblock %}

{% block main %}

  <section class="next-section next-features-multi-schemes">
    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <div class="next-section-header">
            <h3>一个水水，三种性格</h3>
            <p class="text-muted">
              钓系，甜系，打call偶像，咯吱咯吱
            </p>
          </div>

          <img src="/assets/img/YbyScheme.png" class="img-responsive center-block" alt="NexT Schemes" />

        </div>
      </div>
    </div>
  </section>

  <section class="next-section next-section-intersect next-features-multi-languages">
    <div class="container">
      <div class="next-section-header">
        <h3 class="next-section-intersect-title">个人档案</h3>
        <p>SNH48-杨冰怡，四期生</p>
      </div>

      <table>
        <tr>
          <td>昵称</td>
          <td>水水、二水</td>
        </tr>
        <tr>
          <td>出生日期</td>
          <td>2000-7-26</td>
        </tr>
        <tr>
          <td>身高</td>
          <td>168 cm</td>
        </tr>
        <tr>
          <td>血型</td>
          <td>AB</td>
        </tr>
        <tr>
          <td>星座</td>
          <td>狮子座</td>
        </tr>
        <tr>
          <td>出生地</td>
          <td>海南</td>
        </tr>
        <tr>
          <td>个人特长</td>
          <td>舞蹈、体育</td>
        </tr>
        <tr>
          <td>兴趣爱好</td>
          <td>追番、宅舞、恐怖片、cosplay</td>
        </tr>
        <tr>
          <td>加入时间</td>
          <td>2015-1-31 四期生</td>
        </tr>
        <tr>
          <td>所属队伍</td>
          <td>SNH48 X队</td>
        </tr>
      </table>
    </div>
  </section>

  <section class="next-section next-features-code-highlight">
    <div class="container">

      <div class="next-section-header">
        <h3>达成成就</h3>
        <p class="text-muted">
          2015 - 现在
        </p>
      </div>

      <div class="next-features-highlight-schemes" id="highlightSchemesSlider">
        <div class="Showflag next-features-highlight-schemes-item">
          <font color = "ccff00">《梦想的旗帜》公演神龙</font>
          <img src="/assets/img/honor/Showflag.png" alt="Showflag" style="border: 1px solid #ccff00;">
        </div>
        <div class="K5 next-features-highlight-schemes-item">
          <font color = "ffe50a">《逆流而上》公演全勤</font>
          <img src="/assets/img/honor/K5.png" alt="K5" style="border: 1px solid #ffe50a;">
        </div>
        <div class="K4 next-features-highlight-schemes-item">
          <font color = "f19bfd">《最后的钟声响起》公演全勤</font>
          <img src="/assets/img/honor/K4.png" alt="K4" style="border: 1px solid #5a128f;">
        </div>
        <div class="2017MVP next-features-highlight-schemes-item">
          <font color ="ff6600">2017 星梦剧院MVP</font>
          <img src="/assets/img/honor/2017MVP-notext.png" alt="2017MVP" style="border: 1px solid #a24500;">
        </div>
        <div class="2017Select next-features-highlight-schemes-item">
          <font color ="3771c8">2017 SNH48 Group年度总决选 第25名</font>
          <img src="/assets/img/honor/2017Select-notext.png" alt="2017Select" style="border: 1px solid #3771c8;">
        </div>
        <div class="2016MVP next-features-highlight-schemes-item">
          <font color = "ffcc00">2016 星梦剧院MVP</font>
          <img src="/assets/img/honor/2016MVP-notext.png" alt="2016MVP" style="border: 1px solid #ffcc00;">
        </div>
        <div class="2016Select next-features-highlight-schemes-item">
          <font color = "#ee4d4d">2016 SNH48 Group年度总决选 第39名</font>
          <img src="/assets/img/honor/2016Select-notext.png" alt="2016Select" style="border: 1px solid #ee4d4d;">
        </div>
        <div class="ShowfateX next-features-highlight-schemes-item">
          <font color ="ffdd55">《命运的X号》公演正在参与</font>
          <img src="/assets/img/honor/ShowfateX.png" alt="ShowfateX" style="border: 1px solid #ffdd55;">
        </div>
      </div>
    </div>
  </section>

   <section class="next-section-narrow">
    <div class="container">
      <div class="next-section-header">
        <h3 class="next-section-intersect-title">粉丝寄语</h3>
      </div>

      {% block fansReviewSlide %}
        {% include 'templates/partials/fansReviewSlide.njk' %}
      {% endblock %}

    </div>
  </section>

  <section class="next-section next-section-intersect next-doc-categories">
    <div class="container text-center">
      <ul class="next-doc-categories-list text-left clearfix">
        <li>
          <i class="fa fa-star pull-left"></i>
          <div class="next-doc-categories-item-content">
            <h4><a href="http://www.snh48.com/member_detail.php?sid=10093" target="_blank">官方网址</a></h4>
            <p>SNH48成员官方网站。关注来自SNH48关于水水的最新公告、公演时间、外务消息等。</p>
          </div>
        </li>
        <li>
          <i class="fa fa-plug pull-left"></i>
          <div class="next-doc-categories-item-content">
            <h4><a href="https://weibo.com/u/5491331848" target="_blank">个人微博</a></h4>
            <p>SNH48-杨冰怡新浪官方微博。关注水水的最新消息和粉丝互动。</p>
          </div>
        </li>
        <li>
          <i class="fa fa-rocket pull-left"></i>
          <div class="next-doc-categories-item-content">
            <h4><a href="https://weibo.com/u/5367827018" target="_blank">应援会微博</a></h4>
            <p>
              SNH48-杨冰怡应援会官方微博。关注应援会近期活动、补档、应援等。
            </p>
          </div>
        </li>

      </ul>

      <p class="next-doc-categories-button">
        <a class="next-docs-btn next-docs-btn-default"
           href="show-archive.html" role="button">开始补档</a>
      </p>
    </div>

  </section>

{% endblock %}


{% block additionalscripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js"></script>

    <script>
    $(document).ready(function(){
      $(".owl-carousel").owlCarousel({
        items: 4,
            loop: true,
            autoplay: true,
            smartSpeed: 1500,
            margin: 10,
            nav: true,
            navText: ['', ''],
            responsive: {
                320: {
                    items: 1
                },
                576: {
                    items: 2
                },
                992: {
                    items: 3
                },
                1200: {
                    items: 4
                }
            }
      });
    });
  </script>
{% endblock %}

