<div class="fans-review-sliders owl-carousel">
        <!-- Single Slide -->
        <div class="welcome-single-slide">
            <!-- Post Thumb -->
            <img src="/assets/img/article/我想成为的一直都是特别的偶像.jpg" alt="">
            <!-- Overlay Text -->
            <div class="project_title">
                <div class="post-date-commnents d-flex">
                    <a>1 26, 2018</a>
                    <a href="https://weibo.com/snh48cn" target="_blank">SNH48</a>
                </div>
                <a href="https://weibo.com/ttarticle/p/show?id=2309404200507672554244#_0" target="_blank">
                    <h5>SNH48杨冰怡：我想成为的，一直都是特别的偶像</h5>
                </a>
            </div>
        </div>

        <!-- Single Slide -->
        <div class="welcome-single-slide">
            <!-- Post Thumb -->
            <img src="/assets/img/article/关于杨冰怡的2017.jpg" alt="">
            <!-- Overlay Text -->
            <div class="project_title">
                <div class="post-date-commnents d-flex">
                    <a>1 12, 2018</a>
                    <a href="https://weibo.com/u/5885110801" target="_blank">似穗的kaki</a>
                </div>
                <a href="https://weibo.com/ttarticle/p/show?id=2309404195205870940912#_0" target="_blank">
                    <h5>关于杨冰怡的2017（欢迎补档）</h5>
                </a>
            </div>
        </div>

        <!-- Single Slide -->
        <div class="welcome-single-slide">
            <!-- Post Thumb -->
            <img src="/assets/img/article/我是追梦的孩子.png" alt="">
            <!-- Overlay Text -->
            <div class="project_title">
                <div class="post-date-commnents d-flex">
                    <a>11 28, 2017</a>
                    <a href="https://weibo.com/u/5890749478" target="_blank">乐枫夜白_YINQI</a>
                </div>
                <a href="https://weibo.com/ttarticle/p/show?id=2309404179205523933493#_0" target="_blank">
                    <h5>我是追梦的孩子</h5>
                </a>
            </div>
        </div>

        <!-- Single Slide -->
        <div class="welcome-single-slide">
            <!-- Post Thumb -->
            <img src="/assets/img/article/2017年李钊生诞祭yby的信.jpg" alt="">
            <!-- Overlay Text -->
            <div class="project_title">
                <div class="post-date-commnents d-flex">
                    <a>7 9, 2017</a>
                    <a href="https://weibo.com/u/5505307665" target="_blank">SNH48-水蜜桃应援会</a>
                </div>
                <a href="https://weibo.com/ttarticle/p/show?id=2309404127534039087644" target="_blank">
                    <h5>2017年 李钊生诞祭 yby的信</h5>
                </a>
            </div>
        </div>

        <!-- Single Slide -->
        <div class="welcome-single-slide">
            <!-- Post Thumb -->
            <img src="/assets/img/article/杨冰怡走过的731天.jpg" alt="">
            <!-- Overlay Text -->
            <div class="project_title">
                <div class="post-date-commnents d-flex">
                    <a>2 1, 2017</a>
                    <a href="https://weibo.com/u/5367827018" target="_blank">SNH48-杨冰怡应援会</a>
                </div>
                <a href="https://weibo.com/ttarticle/p/show?id=2309404070131662759237" target="_blank">
                    <h5>杨冰怡走过的731天</h5>
                </a>
            </div>
        </div>

        <!-- Single Slide -->
        <div class="welcome-single-slide">
            <!-- Post Thumb -->
            <img src="/assets/img/article/关于杨冰怡值得补档的2016那些事.jpg" alt="">
            <!-- Overlay Text -->
            <div class="project_title">
                <div class="post-date-commnents d-flex">
                    <a>1 2, 2017</a>
                    <a href="https://weibo.com/u/3927196318" target="_blank">废土求生者Clay</a>
                </div>
                <a href="https://weibo.com/ttarticle/p/show?id=2309404059554051655717" target="_blank">
                    <h5>关于杨冰怡值得补档的2016那些事</h5>
                </a>
            </div>
        </div>

         <!-- Single Slide -->
        <div class="welcome-single-slide">
            <!-- Post Thumb -->
            <img src="/assets/img/article/吃下这发安利.png" alt="">
            <!-- Overlay Text -->
            <div class="project_title">
                <div class="post-date-commnents d-flex">
                    <a>6 3, 2015</a>
                    <a href="https://weibo.com/u/5367827018" target="_blank">SNH48-杨冰怡应援会</a>
                </div>
                <a href="https://weibo.com/p/1001603849758841143694" target="_blank">
                    <h5>吃下这发安利wSNH48 Team X 杨冰怡</h5>
                </a>
            </div>
        </div>
</div>