<footer class="footer">
  <div class="container">
    <hr>
    <p class="pull-right text-muted next-maker">
      &copy; Made by <a href="https://github.com/cutelittleturtle" target="_blank">饿饿的土拨鼠</a>
    </p>
    <div>
      <ul class="next-docs-footer-links">
        <li><a href="https://github.com/cutelittleturtle/suisuiarchive/issues">问题反馈</a></li>
        <li><a href="https://github.com/cutelittleturtle/suisuiarchive">源代码 @ GitHub</a></li>
      </ul>
    </div>
  </div>
</footer>
